<template>
  <div v-if="store" class="container py-4 relative">
    <h2 class="text-xl leading-tight">
      {{ store.infos.name }}
      <small class="block text-gray-500"
        >Les modifications que vous allez soumettre devront être approuvées par un
        administrateur avant d'être publiées.</small
      >
    </h2>

    <!-- <div class="mt-4">
      <button class="btn btn--green w-full">Soumettre ces modifications</button>
    </div> -->

    <nav class="flex mt-4 border-b-2 border-gray-100">
      <button
        @click.prevent="activeNavItem = 'cards'"
        class="flex place-items-center p-3"
        :class="activeNavItem === 'cards' ? 'font-semibold' : null"
      >
        <unicon width="20" height="20" name="file-alt" />
        <span class="ml-1">Carte</span>
      </button>
      <button
        @click.prevent="activeNavItem = 'hours'"
        class="flex place-items-center p-3"
        :class="activeNavItem === 'hours' ? 'font-semibold' : null"
      >
        <unicon width="20" height="20" name="clock" />
        <span class="ml-1">Horaires</span>
      </button>
    </nav>

    <fieldset
      v-if="activeNavItem === 'hours'"
      class="mt-4 border-2 border-gray-300 rounded p-4 pt-3"
    >
      <legend class="px-2 font-semibold">Horaires d'ouverture</legend>
      <div class="grid lg:grid-cols-2 gap-4">
        <input
          type="text"
          v-for="(day, index) in [
            'lundi',
            'mardi',
            'mercredi',
            'jeudi',
            'vendredi',
            'samedi',
            'dimanche',
          ]"
          :key="index"
          v-model="store.infos.opening_hours[index]"
          :placeholder="day + ' : 09:00 - 23:00'"
        />
      </div>
    </fieldset>

    <div v-if="activeNavItem === 'cards'">
      <EditStoreMenu :menus="store.menus" />
    </div>

    <div class="mt-4">
      <button class="btn btn--green w-full" @click.prevent="submitChanges">
        Soumettre ces modifications
      </button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import _ from "lodash";
export default {
  head() {
    return {
      title: `${this.store ? this.store.infos.name : ""} - Edition ~ Pretioù`,
    };
  },
  data() {
    return {
      store: null,
      submitedModifications: {
        cards: null,
        hours: null,
      },
      activeNavItem: "cards", // cards, hours
    };
  },
  created() {
    this.store = JSON.parse(JSON.stringify(this.stateStore));
  },
  computed: {
    ...mapGetters("stores", ["storeBySlug"]),
    stateStore() {
      return this.storeBySlug(this.$route.params.slug);
    },
  },

  methods: {
    submitChanges() {
      this.submitedModifications.cards = this.store.menus;
      this.submitedModifications.hours = this.store.infos.opening_hours;

      const data = {
        store_id: this.store.id,
        modifications: this.submitedModifications,
      };

      console.log("data", data);
      this.$api.post("stores-modifications", data).then((res) => {
        console.log("res", res);
        this.$toast.success('Modifications soumises avec succès. Merci de votre participation.')
      });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>