<template>
  <div v-if="store">
    <div class="w-full h-48 relative overflow-hidden bg-gray-900 lg:rounded-lg">
      <!-- images count -->
      <div
        v-if="store.images.length > 1"
        class="absolute p-2 right-0 bottom-0 mb-4 flex place-items-center text-white opacity-70"
      >
        <unicon name="images" width="15" height="15" />
        <span class="text-xs ml-1">{{ store.images.length }}</span>
      </div>
      <img
        v-if="store.images[0]"
        :src="store.images[0].path"
        class="w-full h-full object-cover"
        :alt="`${store.infos.name} - Photo`"
      />
    </div>
    <div class="container relative">
      <div class="pt-3 bg-white rounded-t-lg -mt-4 px-4">
        <div>
          <div class="flex place-items-center justify-between text-xs">
            <div class="text-almond-700">{{ store.infos.type }}</div>
          </div>
          <h2 class="text-2xl leading-tight flex place-items-center">
            <span>{{ store.infos.name }}</span>
            <div v-if="store.infos.verified" class="ml-2">
              <IconVerifiedStore height="12.5" fill="#2280FA" />
            </div>
          </h2>
          <div class="text-gray-400 text-xs leading-tight">
            {{
              `${
                store.infos.address_components.street_number
                  ? store.infos.address_components.street_number
                  : ""
              } ${store.infos.address_components.street}, 
            ${store.infos.address_components.city} ${
                store.infos.address_components.postal_code
              }`
            }}
          </div>
          <!-- <div class="flex flex-wrap mt-1">
            <template v-for="tag in store.infos.tags">
              <div
                :key="tag.slug"
                class="mr-1 px-2 py-1 rounded-full bg-almond-100 text-almond-900 text-xs block"
              >
                {{ tag.title }}
              </div>
            </template>
          </div> -->
        </div>
      </div>

      <!-- actions -->
      <div class="mt-4 grid grid-cols-4 gap-4" v-if="store.infos.phone_number">
        <button
          @click="trackCall"
          class="w-full call-store"
          :class="store.infos.verified ? 'col-span-4' : 'col-span-3'"
        >
          <a
            v-if="store.infos.phone_number"
            :href="`tel:${store.infos.phone_number}`"
            class="btn btn--almond flex place-items-center w-full"
          >
            <unicon name="phone" />
            <span class="ml-2 lg:ml-0 lg:hidden">Appeler</span>
            <span class="lg:ml-2 hidden lg:block">{{
              store.infos.phone_number
            }}</span>
          </a>
        </button>
        <nuxt-link
          v-if="!store.infos.verified"
          :to="{ name: 'stores-slug-edit', params: { slug: store.infos.slug } }"
          class="btn btn--gray opacity-50 col-span-1"
        >
          <!-- <unicon name="ellipsis-h" /> -->
          <unicon name="edit-alt" />
          <span class="sr-only">Éditer</span>
        </nuxt-link>
        <!-- <a
          v-if="store.infos.email"
          :href="`mailto:${store.infos.email}`"
          class="h-12 flex place-items-center justify-center bg-almond-100 text-almond-900 rounded-lg"
        >
          <unicon name="envelope" />
        </a>
        <a
          v-if="store.infos.website"
          target="_blank"
          :href="store.infos.website"
          class="h-12 flex place-items-center justify-center bg-almond-100 text-almond-900 rounded-lg"
        >
          <unicon name="external-link-alt" />
        </a> -->
      </div>
    </div>

    <!-- nav -->
    <nav class="flex overflow-hidden mt-4 border-b-2 border-gray-100">
      <div class="nav-container overflow-x-auto flex">
        <button
          @click.prevent="activeNavItem = 'cards'"
          class="flex place-items-center p-3"
          :class="activeNavItem === 'cards' ? 'font-semibold' : null"
        >
          <unicon width="20" height="20" name="file-alt" />
          <span class="ml-1">Carte</span>
        </button>
        <button
          @click.prevent="activeNavItem = 'hours'"
          class="flex place-items-center p-3"
          :class="activeNavItem === 'hours' ? 'font-semibold' : null"
        >
          <unicon width="20" height="20" name="clock" />
          <span class="ml-1">Horaires</span>
        </button>
        <button
          v-if="store.infos.equipements.length"
          @click.prevent="activeNavItem = 'equipements'"
          class="flex place-items-center p-3"
          :class="activeNavItem === 'equipements' ? 'font-semibold' : null"
        >
          <unicon width="20" height="20" name="shopping-bag" />
          <span class="ml-1">Équipements</span>
        </button>
        <button
          v-if="store.infos.description"
          @click.prevent="activeNavItem = 'description'"
          class="flex place-items-center p-3"
          :class="activeNavItem === 'description' ? 'font-semibold' : null"
        >
          <unicon width="20" height="20" name="info-circle" />
          <span class="ml-1">Description</span>
        </button>
      </div>
    </nav>

    <!-- nav content -->
    <div class="container nav-content">
      <!-- cards -->
      <div v-if="activeNavItem === 'cards'">
        <div v-if="!store.menus.length" class="text-gray-600 mt-4 align-bottom">
          Aucune carte n'a été enregistrée pour le moment. N'hésitez pas à en
          soumettre une avec le bouton
          <span><unicon name="edit-alt" width="15" height="15" /></span>.
        </div>
        <template v-for="menu in store.menus">
          <div :key="menu.id" class="p-4 rounded-lg shadow my-4">
            <div class="font-semibold text-lg">{{ menu.name }}</div>
            <template v-for="(plate, index) in menu.plates">
              <div :key="index" class="flex py-1 items-end justify-between">
                <div>
                  <span class="block text-md leading-tight">{{
                    plate.name
                  }}</span>
                  <span
                    class="block text-sm text-gray-500 leading-tight"
                    v-if="plate.description"
                    >{{ plate.description }}</span
                  >
                </div>
                <div
                  class="border-b border-dotted flex-1 border-gray-300 mx-4 mb-2"
                ></div>
                <div class="flex place-items-center">
                  <span>{{ plate.price }}</span
                  ><small>€</small>
                </div>
              </div>
            </template>
          </div>
        </template>
      </div>

      <!-- hours -->
      <div v-if="activeNavItem === 'hours'" data-item="hours">
        <div
          class="my-4 p-2 rounded-lg bg-blue-100 text-blue-900 text-xs flex place-items-center"
        >
          <unicon name="info-circle" />
          <span class="ml-2"
            >Ces horaires sont les
            <strong>horaires Covid-19</strong>.<br />N'hésitez pas à les mettre
            à jour régulièrement.</span
          >
        </div>
        <div
          v-if="!store.infos.opening_hours.length"
          class="text-gray-600 mt-4 align-bottom"
        >
          Aucun horaire n'a été enregistré pour le moment. N'hésitez pas à en
          soumettre une avec le bouton
          <span><unicon name="edit-alt" width="15" height="15" /></span>.
        </div>
        <template v-for="(hour, index) in store.infos.opening_hours">
          <div
            :key="hour"
            class="capitalize py-2 text-md"
            :class="
              index < store.infos.opening_hours.length - 1
                ? 'border-b border-gray-100'
                : null
            "
          >
            {{ hour }}
          </div>
        </template>
      </div>

      <!-- equipements -->
      <div v-if="activeNavItem === 'equipements'">
        <div
          v-if="!store.infos.equipements.length"
          class="text-gray-600 mt-4 align-bottom"
        >
          Aucun équipement n'a été enregistré pour le moment.
        </div>
        <template v-for="(eq, index) in store.infos.equipements">
          <div
            :key="eq"
            class="text-md py-2 flex place-items-center"
            :class="
              index < store.infos.equipements.length - 1
                ? 'border-b border-gray-100'
                : null
            "
          >
            <unicon name="check" width="15" height="15" />
            <span class="ml-2">{{ eq }}</span>
          </div>
        </template>
      </div>

      <!-- description -->
      <div v-if="activeNavItem === 'description'" class="py-4">
        {{ store.infos.description }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      activeNavItem: "cards", // cards, hours, equipement, description
    };
  },
  created() {
    this.$ga.page(this.$router);
  },
  head() {
    return {
      title: `${
        this.store
          ? this.store.infos.name +
            ` - ` +
            this.store.infos.address_components.city +
            `, ` +
            this.store.infos.address_components.postal_code
          : ""
      } ~ Pretioù`,
    };
  },
  computed: {
    ...mapGetters("stores", ["storeBySlug"]),
    store() {
      return this.storeBySlug(this.$route.params.slug);
    },
  },

  methods: {
    trackCall() {
      this.$ga.event({
        eventCategory: "Click",
        eventAction: "Call Store",
        eventLabel: this.store.infos.name,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>