<template>
  <div class="pt-20 container">Search Tag</div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters("stores", ["publishedStores"]),
    stores() {
        return 
    }
  },
};
</script>

<style lang="scss" scoped>
</style>