<template>
  <div
    tabindex="0"
    class="bg-gray-900 relative h-40 max-h-full rounded-lg flex flex-col p-3 md:p-4 w-full hover:shadow overflow-hidden"
  >
    <div class="absolute inset-x-0 inset-y-0 bg-gray-900" v-if="thumb != null">
      <img
        class="w-full h-full object-cover opacity-50"
        :src="thumb"
        :alt="title"
      />
    </div>
    <div class="relative flex flex-col h-full text-white">
      <div class="text-xs leading-tight text-almond-500">{{ type }}</div>
      <div v-if="verified" class="absolute top-0 right-0">
        <IconVerifiedStore height="12.5" fill="#2280FA" />
      </div>
      <div class="mt-auto">
        <!-- <div class="text-xs tracking-wide flex place-items-center leading-tight">
          <span class="text-base mr-1 text-green-400">●</span>Ouvert</div> -->
        <nuxt-link
          :to="link ? link : ''"
          class="text-sm md:text-lg font-semibold md:font-normal tracking-wider leading-tight flex place-items-center"
        >
          <!-- <span class="text-base mr-1 text-green-400">●</span> -->
          {{ title }}
        </nuxt-link>
        <div class="text-xs w-full truncate text-almond-500">
          <span class="hidden md:inline"
            >{{ address.street_number ? address.street_number : '' }} {{ address.street ? address.street : '' }},
          </span>
          <span>{{ address.city }}</span>
          <span class="hidden md:inline">{{ address.postal_code }}</span>
        </div>
        <div class="hidden md:flex text-xs w-full truncate" v-if="tags">
          <template v-for="(tag, index) in tags">
            <span :key="tag.slug">{{ tag.title }}</span
            ><span :key="index" v-if="index < tags.length - 1">,&nbsp;</span>
          </template>
        </div>
      </div>
    </div>

    <!-- mobile link -->
    <nuxt-link
      :to="link ? link : ''"
      class="absolute inset-0"
    ></nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    thumb: String,
    type: String,
    title: String,
    address: Object,
    tags: Array,
    link: Object,
    verified: Boolean,
  },
};
</script>

<style lang="scss" scoped>
</style>