<template>
    <div class="content">
        Admin
    </div>
</template>

<script>
    export default {
        beforeMount() {
            this.$router.push('/admin/stores')
        },
    }
</script>

<style lang="scss" scoped>

</style>