<template>
  <form class="grid gap-4" @submit.prevent="submitForm()">
    <div class="grid md:grid-cols-2 gap-4">
      <div>
        <label for="user_last-name">Nom</label>
        <input id="user_last-name" type="text" v-model="user.last_name" />
      </div>
      <div>
        <label for="user_first-name">Prénom</label>
        <input id="user_first-name" type="text" v-model="user.first_name" />
      </div>
    </div>
    <div>
      <label for="user_email">Email</label>
      <input id="user_email" type="email" v-model="user.email" :disabled="type === 'edit' && !$store.state.auth.isAdmin" />
    </div>
    <div v-if="$store.state.auth.isAdmin">
      <div>
        <label>Rôle de l'utilisateur</label>
        <select :disabled="type === 'edit' && user.role === 2" @change="user.role = Number($event.target.value)">
          <option :selected="user.role === 1" value="1">Utilisateur</option>
          <option :selected="user.role === 2" value="2">Administrateur</option>
        </select>
      </div>
    </div>
    <div v-if="type === 'edit'">
      <fieldset class="p-4 border-2 border-gray-300 rounded">
        <legend class="mx-1 font-semibold">Nouveau mot de passe</legend>
        <label for="new_mdp">Mot de passe</label>
        <input id="new_mdp" type="password" v-model="password.value" />
        <label for="new_mdp-confirm" class="mt-4">Confirmation</label>
        <input
          id="new_mdp-confirm"
          type="password"
          v-model="password.confirmation"
          @blur="confirmPassword"
        />
      </fieldset>
    </div>
    <button class="btn btn--green" type="submit">
      {{ submit ? submit : `Ajouter l'utilisateur` }}
    </button>
  </form>
</template>

<script>
export default {
  props: {
    type: String,
    user: Object,
    submit: String,
  },
  data() {
    return {
      errors: [],
      password: {
        value: null,
        confirmation: null,
      },
    };
  },

  methods: {
    confirmPassword() {
      this.errors = [];
      if (this.password.confirmation != this.password.value) {
        this.errors.push(`Attention ! Les mots de passes sont differents.`);
      } else {
          this.user.full_name = this.user.first_name + ' ' + this.user.last_name
          this.user.password = this.password.value
      }
    },
    submitForm() {
      if (this.errors.length) {
        this.$toast.error(this.errors[0]);
        return false;
      } else {
        this.$emit("submit", this.user);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>