<template>
  <div
    class="skeleton"
    :class="[styles ? styles : null, { 'lines': lines, 'placeholder': placeholder}]"
  >
    <template v-if="lines > 1">
      <span v-for="(line, index) in lines" :key="index"></span>
    </template>
    <template v-else>
      <span :class="placeholder ? 'inline-block' : 'block'" :data-placeholder="placeholder"></span>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    styles: String,
    lines: Number,
    rounded: Boolean,
    placeholder: String,
  },
};
</script>

<style lang="scss" scoped>
.skeleton {
  span {
    @apply h-full animate-pulse rounded bg-gray-400;
    &::before {
        content: attr(data-placeholder);
        opacity: 0;
    }
  }

  &.placeholder {
    @apply inline-block transform scale-y-75;
  }

  &.lines {
      span {
          @apply block h-4;
      }
  }
}
</style>