<template>
  <div
    class="flex sm:block rounded-lg overflow-hidden shadow bg-white transition-shadow duration-150 hover:shadow-md"
  >
    <div
    v-if="thumb"
      class="relative flex-shrink-0 w-32 sm:w-auto h-32 overflow-hidden card-thumb"
    >
      <Skeleton styles="h-full" />
    </div>
    <div class="p-4 w-full flex flex-col justify-center">
      <Skeleton styles="text-xs -mt-1" placeholder="Restaurant" />
      <Skeleton styles="text-lg" placeholder="Le Paparazzi" />
      <Skeleton styles="text-sm" lines="1" />
      <!-- tags -->
      <div class="leading-none mt-4 text-xs text-gray-400">
        <template v-for="(i, index) in 4">
          <Skeleton placeholder="tags" :key="index" /><span>,</span>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['thumb', 'parentIndex']
};
</script>