<template>
  <div class="content">
    <h2 class="text-xl text-gray-900">Modifier mon profil</h2>
    <div class="mt-6 md:max-w-lg" v-if="user">
      <FormUser type="edit" :user="user" submit="Modifier l'utilisateur" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import _ from "lodash";
export default {
  head() {
    return {
      title: `${this.user ? this.user.full_name : ""} - Edition ~ Pretioù`,
    };
  },
  computed: {
    ...mapGetters("users", ["userById"]),
    user() {
      return _.cloneDeep(this.$store.state.auth.user);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>