<template>
  <div class="content">
    <h2 class="text-xl text-gray-900">Toutes les modifications</h2>

    <div class="mt-6" v-if="modifications">
      <table class="table-auto w-full">
        <thead>
          <tr class="text-left">
            <th class="p-2">Date</th>
            <th class="p-2">State</th>
            <th class="p-2 text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="modif in modifications" :key="modif.id">
            <!-- <td>{{ $dateFns.format(modif.created_at) }}</td> -->
            <td class="p-2">
              {{
                $dateFns.format(
                  new Date(modif.created_at),
                  "dd/MM/yyyy - HH:mm"
                )
              }}
            </td>
            <td
              class="p-2"
              :class="
                modif.state === 0
                  ? 'text-yellow-400'
                  : modif.state === 1
                  ? 'text-green-500'
                  : null
              "
            >
              {{
                modif.state === 0
                  ? "Pending"
                  : modif.state === 1
                  ? "Accepted"
                  : null
              }}
            </td>
            <td class="flex justify-end">
              <button
                @click.prevent="showModification(modif)"
                class="w-12 h-12 flex place-items-center justify-center bg-gray-100 rounded-lg"
              >
                <unicon name="eye" />
              </button>
              <button
                v-if="modif.state != 1"
                @click.prevent="approveModif(modif)"
                class="ml-2 w-12 h-12 flex place-items-center justify-center bg-green-100 rounded-lg"
              >
                <unicon name="check" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- modal -->
    <Modal v-if="modif_details" @close="modif_details = null">
      <template v-slot:head>
        Modifications pour : {{ store.infos.name }}
      </template>
      <div class="grid gap-4 max-h-96 overflow-y-auto">
        <div v-if="JSON.parse(modif_details).hours.length">
          <label>Horaires</label>
          <div class="mt-2 grid gap-4 text-sm">
            <template v-for="hour in JSON.parse(modif_details).hours">
              <div :key="hour" class="capitalize">
                {{ hour }}
              </div>
            </template>
          </div>
        </div>
        <div v-if="JSON.parse(modif_details).cards.length">
          <label>Carte</label>
          <template v-for="(card, i) in JSON.parse(modif_details).cards">
            <div :key="i" class="mt-2">
              <div class="font-semibold">{{ card.name }}</div>
              <div
                v-for="(plate, index) in card.plates"
                :key="index"
                class="flex"
              >
                <div class="w-28">{{ plate.name }}</div>
                <div class="mx-2 flex-1 text-xs text-gray-600 leading-tight">
                  {{ plate.description }}
                </div>
                <div>{{ plate.price }}</div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import _ from "lodash";
export default {
  middleware: ["isAdmin"],
  data() {
    return {
      modif_details: null,
      modifications: null,
      store: null
    };
  },

  created() {
    this.getModifications();
  },

  computed: {
    ...mapGetters("stores", ["storeById"]),
  },

  methods: {
    getModifications() {
      this.$api.get("stores-modifications").then((res) => {
        console.log(res);
        this.modifications = _.orderBy(
          res.data.modifications,
          "created_at",
          "desc"
        );
      });
    },

    showModification(modif) {
      this.store = this.storeById(modif.store_id);
      this.modif_details = modif.modifications
    },

    approveModif(modif) {
      console.log("modif", modif);
      this.$api
        .post("stores-modifications/" + modif.id + "/approve", modif)
        .then((res) => {
          console.log("res", res);

          const modifs = JSON.parse(modif.modifications);

          const modifiedStore = this.storeById(res.data.data.id);
          if (modifiedStore.menus.length < modifs.cards.length) {
            let newMenu = {
              id: null,
              store_id: modifiedStore.id,
              name: "Titre du menu",
              plates: null,
            };
            this.$api.post("menus", newMenu).then((res) => {});
          }

          const store = res.data.data;

          store.infos.opening_hours = modifs.hours;
          console.log("modifs.cards", modifs.cards);

          store.menus = modifs.cards;

          const headers = {
            Authorization: "Bearer " + this.$store.state.auth.token,
          };
          this.$api
            .put("stores/" + modif.store_id, store, {
              headers: headers,
            })
            .then((res) => {
              this.store_state = null;
              this.$store.dispatch("stores/editStore", res.data.data);
              this.$toast.success("Etablissement mis à jour.");
            });
        });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>