<template>
  <div class="admin-navbar">
    <!-- <nuxt-link class="flex flex-col place-items-center" :to="{ name: 'index' }">
      <unicon name="home-alt" />
      <span class="text-xs tracking-wide sr-only">Home</span>
    </nuxt-link> -->
    <nuxt-link class="flex flex-col place-items-center" :to="{ name: 'index' }">
      <unicon name="restaurant" />
      <span class="text-xs tracking-wide sr-only">Stores</span>
    </nuxt-link>
    <nuxt-link class="flex flex-col place-items-center" :to="{ name: 'stores-nearby' }">
      <unicon name="map-pin-alt" />
      <span class="text-xs tracking-wide sr-only">Nearby</span>
    </nuxt-link>
    <nuxt-link class="flex flex-col place-items-center" :to="{ name: 'search' }">
      <unicon name="search" />
      <span class="text-xs tracking-wide sr-only">Search</span>
    </nuxt-link>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>

@supports (padding: Max(0px)) {
  .admin-navbar {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.admin-navbar {
  @apply fixed bottom-0 w-full bg-gray-900 text-gray-400 flex place-items-center justify-around rounded-t-lg;

  @screen lg {
    @apply hidden;
  }

  a {
    @apply h-16 w-16 flex flex-col place-items-center justify-center;
  }

  a.nuxt-link-exact-active {
    @apply text-almond-500;
  }
}
</style>