<template>
  <nav
    class="mobile-main-nav h-screen w-screen fixed top-0 inset-y-0 flex z-50 transform duration-300"
    :class="isOpen ? 'is-open' : null"
  >
    <div class="w-3/4 h-full bg-white">
      <ul>
        <li class="p-4" v-if="$store.state.auth.loggedIn">
          <nuxt-link
            class="btn btn--almond w-full flex place-items-center"
            :to="{ name: 'admin' }"
          >
            <unicon name="dashboard" />
            <span class="ml-2">Dashboard</span>
          </nuxt-link>
        </li>
        <li class="p-4" v-if="!$store.state.auth.loggedIn">
          <nuxt-link
            class="btn btn--almond w-full"
            :to="{ name: 'auth-login' }"
          >
            <unicon name="sign-in-alt" />
            <span class="ml-2">Accès pro.</span>
          </nuxt-link>
        </li>
        <!-- <li>
          <nuxt-link class="px-4 py-2 block" to="/">Mentions légales</nuxt-link>
        </li>
        <li>
          <nuxt-link class="px-4 py-2 block" to="/"
            >Politiques de confidentialité</nuxt-link
          >
        </li> -->
      </ul>
    </div>
    <div
      @click.prevent="closeMainMav"
      class="main-nav__overflow h-full w-1/4 bg-gray-900 opacity-50"
    ></div>
  </nav>
</template>

<script>
export default {
  props: ["isOpen"],
  watch: {
    $route(to, from) {
      this.closeMainMav();
    },
  },
  methods: {
    closeMainMav() {
      this.$emit("close");
    },
  },
};
</script>

<style lang="scss" scoped>
.mobile-main-nav {
  @apply -translate-x-full;

  &.is-open {
    @apply translate-x-0;
  }
}
</style>