<template>
  <div>
    <header
      class="mobile-head fixed z-40 top-0 left-0 w-full flex place-items-center justify-between bg-white lg:hidden border-b-2 border-gray-300"
    >
      <button
        @click.prevent="$router.go(-1)"
        v-if="$route.name != 'index'"
        class="h-16 w-16 flex place-items-center justify-center"
      >
        <unicon name="angle-left" />
      </button>
      <div
        v-if="$route.name === 'index'"
        class="w-16 h-16 pointer-events-none"
      ></div>
      <nuxt-link
        :to="{ name: 'index' }"
        class="text-2xl h-16 flex place-items-center mx-auto text-gray-900 font-semibold"
        >Pretioù</nuxt-link
      >
      <!-- <nuxt-link
        :to="{ name: 'admin' }"
        class="h-16 w-16 flex place-items-center justify-center"
      >
        <unicon name="user" />
      </nuxt-link> -->
      <nuxt-link
        :to="{ name: 'contact' }"
        class="h-16 w-16 flex place-items-center justify-center"
      >
        <unicon name="envelope" />
      </nuxt-link>
    </header>
  </div>
</template>

<script>
export default {
  data() {
    return {
      mainNavOpen: false,
    };
  },
};
</script>

<style lang="scss" scoped>
</style>