$colors: (
    'blue',
    'gray',
    'indigo',
    'red',
    'green',
    'almond'
);

.btn {
    @apply inline-flex items-center justify-center px-6 py-4 rounded text-sm uppercase tracking-wide font-semibold transition-colors duration-500 ;

    @each $color in $colors {
        &--#{$color} {
            @apply text-#{$color}-900 bg-#{$color}-200;
            &:hover {
                @apply bg-#{$color}-300;
            } 
        }

        &--#{$color}--dark {
            @apply bg-#{$color}-400 text-white;

            &:hover {
                @apply bg-#{$color}-500;
            }
        }
    }
}