<template>
  <div class="carousel overflow-hidden pb-1">
    <div class="flex items-center mb-4 sm:mb-6">
      <div v-if="title" class="text-xl sm:text-2xl leading-tight">{{ title }}
        <small class="text-md text-gray-400">({{ Object.values(stores).length }})</small>
      </div>
      <div
        v-show="Object.values(stores).length > visible_slides"
        class="carousel-nav flex justify-end pr-4 ml-auto"
      >
        <button
          class="rounded-full h-10 w-10 bg-gray-300 flex place-items-center justify-center"
          @click.prevent="prev"
        >
          <unicon name="angle-left" />
        </button>
        <button
          class="rounded-full h-10 w-10 bg-gray-300 ml-2 flex place-items-center justify-center"
          @click.prevent="next"
        >
          <unicon name="angle-right" />
        </button>
      </div>
    </div>
    <div
      class="carousel-container transform duration-300 px-1"
      style="width: 200%"
      v-if="!loading"
    >
      <div :class="'grid grid-cols-8 gap-6'">
        <template v-for="(store, index) in stores">
          <div :key="index">
            <StoreCard
              :type="store.infos.type"
              :title="store.infos.name"
              :address="store.infos.address_components"
              :tags="store.infos.tags"
              :verified="store.infos.verified"
              :link="{ name: 'stores-slug', params: { slug: store.infos.slug } }"
            />
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["loading", "title", "stores"],
  data() {
    return {
      max_slides: 8,
      visible_slides: 4,
      current_scroll: 0,
    };
  },
  mounted() {
    if(!this.loading) {
      this.getWindowWidth();
    }
    window.addEventListener("resize", this.getWindowWidth);
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.getWindowWidth);
  },
  methods: {
    getWindowWidth(e) {
      const w = document.documentElement.clientWidth;
      if (w > 1024) {
        this.visible_slides = 4;
      } else {
        this.visible_slides = 1;
      }

      document.querySelector(".carousel-container").style.width = `${
        100 * (this.max_slides / this.visible_slides)
      }%`;
      this.current_scroll = 0;
      if(this.stores.length) {
        this.transformCarousel();
      }
    },
    next() {
      this.current_scroll++;
      if (this.current_scroll === Object.values(this.stores).length - this.visible_slides + 1)
        this.current_scroll = 0;
      this.transformCarousel();
    },
    prev() {
      this.current_scroll--;
      if (this.current_scroll === -1)
        this.current_scroll = Object.values(this.stores).length - this.visible_slides;
      this.transformCarousel();
    },
    transformCarousel() {
      const carousel_container = document.querySelector(".carousel-container");
      const store_width = document.querySelector(
        ".carousel-container .grid > div"
      ).offsetWidth;
      carousel_container.style.transform = `translateX(calc(-${
        this.current_scroll * store_width
      }px - ${this.current_scroll * 1.5}rem))`;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>