<template>
  <div>
    <!-- <button class="w-full btn btn--blue" @click.prevent="createMenu">
      Ajouter une carte
    </button> -->
    <div class="overflow-hidden border-b-2 border-gray-100">
      <div class="overflow-x-auto flex">
        <template v-for="(menu, index) in menus">
          <button
            :key="index"
            @click.prevent="activeMenuIndex = index"
            class="p-3 flex-shrink-0"
            :class="activeMenuIndex === index ? 'font-semibold' : null"
          >
            {{ menu.name }}
          </button>
        </template>
      </div>
    </div>

    <div class="mt-4">
      <template v-for="(menu, index) in menus">
        <fieldset
          class="p-4 border-2 border-gray-300 rounded"
          :key="index"
          v-if="index === activeMenuIndex"
        >
          <legend class="px-2 font-semibold flex">
            <input type="text" v-model="menu.name" />
            <!-- <button
              @click.prevent="deleteTabsItem(index)"
              class="flex-shrink-0 h-12 w-12 text-red-500 flex place-items-center justify-center"
            >
              <unicon name="trash" width="20" height="20" />
            </button> -->
          </legend>

          <!-- <label>Plats</label> -->
          <template v-for="(plate, index) in menu.plates">
            <div
              :key="index"
              class="mb-2"
              :class="
                index < menu.plates.length - 1
                  ? 'pb-4 mb-4 border-b-2 border-gray-100'
                  : null
              "
            >
              <div class="flex">
                <input type="text" v-model="plate.name" class="w-full" />
                <button
                  @click.prevent="deletePlate(index)"
                  class="h-12 w-12 ml-4 border-2 border-gray-200 text-red-500 flex place-items-center justify-center"
                >
                  <unicon name="trash" width="20" height="20" />
                </button>
              </div>
              <div class="grid grid-cols-6 gap-4 mt-2">
                <input
                  class="col-span-4"
                  type="text"
                  v-model="plate.description"
                  placeholder="Description ..."
                />
                <div class="col-span-2 flex place-items-center">
                  <input
                    type="number"
                    v-model="plate.price"
                    class="text-right"
                    placeholder="10"
                    step="0.1"
                  />
                  <span class="ml-1">€</span>
                </div>
              </div>
            </div>
          </template>

          <button class="btn btn--gray" @click.prevent="createPlate">
            Ajouter un plat
          </button>
        </fieldset>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: ["menus"],
  data() {
    return {
      activeMenuIndex: 0,
    };
  },

  created() {
    if (!this.menus.length) {
      this.createMenu();
    }
  },

  methods: {
    createMenu() {
      let newMenu = {
        id: null,
        store_id: this.$route.params.id,
        name: "À emporter",
        plates: null,
      };

      this.menus.push(newMenu);
      this.activeMenuIndex = this.menus.length - 1;
    },

    createPlate() {
      let newPlate = {
        name: "",
        description: "",
        price: null,
      };

      console.log(this);

      if (this.menus[this.activeMenuIndex].plates === null)
        this.menus[this.activeMenuIndex].plates = [];

      this.menus[this.activeMenuIndex].plates.push(newPlate);
    },

    deletePlate(index) {
      this.menus[this.activeMenuIndex].plates.splice(index, 1);
    },

    deleteTabsItem(index) {
      this.menus.splice(index, 1);

      if (index > 0) {
        this.activeMenuIndex = 0;
      } else {
        this.activeMenuIndex = index;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>