<template>
    <div class="hidden lg:block lg:py-10 bg-gray-900 lg:mt-auto">
        <div class="container flex place-items-center">
            <nuxt-link :to="{ name: 'index' }" class="text-white text-2xl font-semibold">Pù</nuxt-link>
            <nav class="ml-6 text-gray-400">
                <nuxt-link :to="{ name: 'cgu' }" class="hover:text-white">Conditions générales</nuxt-link>
            </nav>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>