<template>
  <header class="hidden lg:block">
    <div class="container">
      <div class="md:flex place-items-center">
        <div class="brand relative">
          <nuxt-link class="block" :to="{ name: 'index' }">Pretioù</nuxt-link>
        </div>
        <MainNav />
      </div>
    </div>
  </header>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.brand {
  @apply text-3xl font-semibold;
}
</style>