<template>
  <button
    @click.prevent="loadMore"
    class="h-40 rounded-lg bg-almond-500 flex flex-col place-items-center justify-center"
  >
    <unicon name="plus" />
    <span class="block text-sm">Charger plus ...</span>
  </button>
</template>

<script>
export default {
  data() {
    return {
      currentPage: 1,
    };
  },
  methods: {
    loadMore(page) {
      this.currentPage++;
      this.loadPage(this.currentPage);
    },

    loadPage(page) {
      this.$api.get("stores?page=" + page).then((res) => {
        res.data.data.forEach((st) => {
          this.$store.dispatch('stores/addStore', st)
        });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>