<template>
  <nav class="main-nav ml-auto flex-col md:flex-row md:h-16 lg:h-20 place-items-stretch hidden md:flex">
    <nuxt-link :to="{ name: 'index' }">Accueil</nuxt-link>
    <nuxt-link :to="{ name: 'stores-nearby' }">À proximité</nuxt-link>
    <nuxt-link :to="{ name: 'search' }">Recherche</nuxt-link>
    <nuxt-link :to="{ name: 'contact' }">Contact</nuxt-link>
    <!-- <nuxt-link :to="{ name: 'search' }">Search</nuxt-link> -->
    <template v-if="$store.state.auth.loggedIn">
      <nuxt-link :to="{ name: 'admin' }" class=" font-semibold">Dashboard</nuxt-link>
    </template>
    <template v-else>
      <nuxt-link to="/auth/login" class="font-semibold">Login</nuxt-link>
    </template>
  </nav>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.main-nav {
  a {
    @apply flex place-items-center justify-center px-3 py-2;
    &.nuxt-link-exact-active {
      @apply font-semibold;
    }
  }
}
</style>