<template>
    <div class="fixed top-0 h-screen w-screen left-0 bg-opacity-50 bg-gray-900 flex place-items-center justify-center flex-row">
        <div class="close-area fixed top-0 left-0 w-screen h-screen" @click.prevent="close"></div>
        <div class="modal-content relative z-50 rounded bg-white shadow-xl w-full md:max-w-md mx-4">
            <div class="modal-head p-4 border-b border-gray-300 text-xl" v-if="$slots.head">
                <slot name="head"></slot>
            </div>
            <div class="modal-body p-4" slot="content">
                <slot></slot>
            </div>
            <div class="modal-actions flex justify-end p-4 border-t border-gray-300 flex" v-if="$slots.actions">
                <button class="btn btn--gray" @click.prevent="close">Annuler</button>
                <slot name="actions"></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            close() {
                this.$emit('close');
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>