<template>
  <form class="w-full">
    <input
      type="text"
      v-model="query"
      @input="search"
      class="search-input"
      placeholder="Recherchez ..."
    />
  </form>
</template>

<script>
import { debounce } from "lodash";
export default {
  props: {
    stores: Array,
    pattern: String,
  },
  data() {
    return {
      query: JSON.parse(JSON.stringify(this.pattern)),
      options: {
        // includeScore: true,
        threshold: 0.3,
        keys: [
          "infos.name",
          "infos.tags.title",
          "infos.type",
          "infos.address_components.city",
          "infos.address_components.postal_code",
        ],
      },
    };
  },

  created() {
    // setTimeout(() => {
    //   let input = document.querySelector('.search-input')
    //   input.focus()
    // }, 100);
  },

  methods: {
    search: debounce(function () {
      this.$search(this.query, Object.values(this.stores), this.options).then(
        (result) => {
          this.$emit("search", result);
        }
      );
    }, 500),
  },
};
</script>

<style lang="scss" scoped>
</style>