label {
    @apply block mb-1 text-xs uppercase tracking-wide text-gray-700 font-semibold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


input[type="number"] {
    -moz-appearance: textfield !important;
}

input:not([type='checkbox'], [type="radio"], [type="file"]), textarea, select {
    @apply block w-full h-12 py-2 px-4 rounded border-2 border-gray-200;

    &:disabled {
        @apply cursor-not-allowed bg-gray-100;
    }
}