<template>
  <div class="container py-4">
    <SearchBar
      :stores="publishedStores"
      :pattern="searchQuery"
      @search="search"
    />
    <div
      class="mt-4 text-gray-500 text-sm"
      v-if="searchResults && searchResults.length === 0"
    >
      Nous n'avons trouvé aucun résultat pour votre recherche ...
    </div>
    <div class="mt-4" v-if="searchResults">
      <template v-for="(result, index) in searchResults">
        <div
          :key="index"
          class="relative py-2 flex place-items-center"
          :class="
            index < searchResults.length - 1 ? 'border-b border-gray-200' : null
          "
        >
          <nuxt-link
            class="absolute inset-0"
            :to="{ name: 'stores-slug', params: { slug: result.infos.slug } }"
          ></nuxt-link>
          <div class="mr-4">
            <div class="text-xs text-almond-700">{{ result.infos.type }}</div>
            <div class="text-lg leading-tight">{{ result.infos.name }}</div>
            <div class="text-xs text-gray-400">
              <span class="hidden md:inline"
                >{{
                  result.infos.address_components.street_number +
                  ` ` +
                  result.infos.address_components.street
                }},
              </span>
              <span>{{ result.infos.address_components.city }}</span>
              <span class="hidden md:inline">{{
                result.infos.address_components.postal_code
              }}</span>
            </div>
          </div>
          <button
            class="ml-auto w-10 h-10 flex place-items-center justify-center flex-shrink-0"
          >
            <unicon name="angle-right" />
          </button>
        </div>
      </template>
    </div>

    <hr class="my-4">
    <div>
      <p class="text-gray-500 text-sm md:text-base lg:text-lg">
        Vous souhaitez ajouter un établissement ?
        <strong>C'est possible !</strong> Il vous suffit de suivre les étapes
        après avoir cliqué sur ce bouton.
      </p>
      <nuxt-link :to="{ name: 'stores-add' }" class="btn btn--blue mt-2 w-full"
        >Ajouter un établissement</nuxt-link
      >
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import _ from "lodash";
export default {
  data() {
    return {
      searchQuery: null,
      searchResults: null,
    };
  },
  computed: {
    ...mapGetters("stores", ["publishedStores"]),
  },
  methods: {
    search(results) {
      this.searchResults = _.sortBy(results, "infos.name");
    },
  },
};
</script>

<style lang="scss" scoped>
</style>