<template>
  <div class="content" v-if="user">
    <h2 class="text-xl text-gray-900">
      Modifier l'utilisateur : {{ user.first_name + " " + user.last_name }}
    </h2>
    <div class="mt-6 md:max-w-lg">
      <FormUser
        type="edit"
        :user="user"
        @submit="editUser"
        submit="Modifier l'utilisateur"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import _ from "lodash";
export default {
  middleware: ["isAdmin"],
  data() {
    return {
      password: {
        value: null,
        confirmation: null,
      },
    };
  },
  head() {
    return {
      title: `${this.user ? this.user.full_name : ""} - Edition ~ Pretioù`,
    };
  },
  computed: {
    ...mapGetters("users", ["userById"]),
    stateUser() {
      return this.userById(this.$route.params.id);
    },
    user() {
      return _.cloneDeep(this.stateUser);
    },
  },

  methods: {
    editUser(user) {
      console.log("user", user);
      let data = {
        user: user,
      };
      const headers = {
        Authorization: `Bearer ${this.$store.state.auth.token}`,
      };
      this.$api
        .put("users/" + user.id, data, { headers: headers })
        .then((res) => {
          this.$store.dispatch("users/updateUser", res.data.data);
          this.$toast.success(`Utilisateur modifié avec succès.`);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>