<template>
  <div class="lg:fixed w-screen left-0 top-0 lg:h-screen lg:flex bg-white">
    <div class="md:w-6/12 h-full md:order-2 hidden lg:block">
      <img
        src="../../static/bg-login-2.jpeg"
        class="w-full h-full object-cover"
        alt=""
      />
    </div>
    <div class="lg:w-6/12 flex place-items-center p-10">
      <form @submit.prevent="login" class=" w-full max-w-md mx-auto">
        <nuxt-link :to="{name: 'index' }" class="hidden lg:block mb-6 text-4xl font-semibold">Pretioù</nuxt-link>
        <h2 class="text-2xl">Mon compte
          <small class="block text-sm text-gray-500">Gérez vos établissements comme il se doit.</small>
        </h2>
        <div class="mt-6 pt-6 border-t border-gray-200">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            v-model="user.email"
            placeholder="gorestau@gmail.com"
          />
        </div>
        <div class="mt-2">
          <label for="password">Mot de passe</label>
          <input
            type="password"
            v-model="user.password"
            placeholder="*********"
          />
        </div>
        <div class="mt-4">
          <label class="flex place-items-center">
            <input class="mr-2" type="checkbox" v-model="keepLoggedIn"> Se souvenir de moi
          </label>
        </div>
        <!-- <div class="text-sm tracking-wide mt-2 flex flex-col">
          <nuxt-link :to="{ name: 'auth-register' }" class="text-gray-500"
            >Mot de passe oublié ?</nuxt-link
          >
        </div> -->
        <button type="submit" class="btn btn--blue mt-6">Me connecter</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  // layout: "login",
  data() {
    return {
      keepLoggedIn: false,
      user: {
        email: null,
        password: null,
      },
    };
  },

  methods: {
    login() {
      this.$axios
        // .get('http://pretiou-env.eba-hxwtpzeu.eu-west-3.elasticbeanstalk.com/sanctum/csrf-cookie')
        .get('https://api.pretiou.fr/sanctum/csrf-cookie')
        // .get("https://pretiou-api.dev/sanctum/csrf-cookie")
        .then((response) => {
          this.$api.post("login", this.user).then((response) => {
            this.$cookies.set("user", response.data.user, this.keepLoggedIn ? '1y' : '1d');
            this.$cookies.set("token", response.data.token, this.keepLoggedIn ? '1y' : '1d');

            this.$store.commit("auth/LOGIN", response.data);

            this.$router.push({
              name: "admin-stores",
            });
          });
        });
    },
  },
};
</script>

<style lang="scss" scoped>
// </style>