<template>
  <div class="container h-full flex justify-center py-10">
    <div class="max-w-xl w-full">
      <div class="text-2xl">Réinitialiser mon mot de passe</div>
      <form @submit.prevent="resetPassword" class="mt-4 grid gap-4">
        <input type="email" disabled :value="$route.query.email" />
        <input type="password" v-model="password" placeholder="Mot de passe" />
        <input
          type="password"
          v-model="password_confirmation"
          placeholder="Confirmation mot de passe"
        />
        <button type="submit" class="btn btn--green">Réinitialiser</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      password: null,
      password_confirmation: null,
    };
  },
  methods: {
    resetPassword() {
      if (this.password_confirmation === this.password) {
        let data = {
          email: this.$route.query.email,
          token: this.$route.query.token,
          password: this.password,
        };
        this.$api
          .post("reset-password", data)
          .then((res) => {
            console.log(res);
            this.$toast.success("Mot de passe modifié avec succes !");
            this.$router.push({
                name: 'auth-login'
            })
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        this.$toast.error("Les 2 mots de passe doivent être identiques.");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>