<template>
  <div v-if="store != null">
    <!-- <AdminGoBack /> -->
    <form @submit.prevent="updateStore" class="content">
      <h2 class="text-xl text-gray-900">
        {{ store.infos.name }}
        <small
          class="block normal-case text-sm text-gray-600"
        >{{ store.infos.postal_address }}</small>
      </h2>

      <div class="flex mt-4">
        <div class="flex justify-end order-2">
          <button class="btn btn--green">
            <i class="ri-save-line"></i>
            <span class="ml-2 hidden lg:block">Sauvegarder</span>
          </button>
          <button class="btn btn--blue" v-if="!store.published">
            <i class="ri-arrow-up-circle-line"></i>
            <span class="ml-2 hidden lg:block">Publier</span>
          </button>
          <button class="btn btn--orange" v-else>
            <i class="ri-arrow-down-circle-line"></i>
            <span class="ml-2 hidden lg:block">Dépublier</span>
          </button>
          <!-- <button
            v-if="!store.published"
            class="flex items-center h-16 px-6 tracking-wide text-white bg-blue-600"
          >
            <i class="ri-arrow-up-circle-line"></i>
            <span class="ml-2 hidden lg:block">Publier</span>
          </button>
          <button
            v-if="store.published"
            class="flex items-center h-16 px-6 tracking-wide text-white bg-orange-600"
          >
            <i class="ri-arrow-down-circle-line"></i>
            <span class="ml-2 hidden lg:block">Dépublier</span>
          </button> -->
        </div>
        <nav class="store-nav-config flex-1">
          <button :class="step === 'store' ? 'active' : null" @click.prevent="step = 'store'">
            <unicon name="store" width="20" height="20" />
            <span class="ml-2 hidden lg:block">Etablissement</span>
          </button>
          <button :class="step === 'photos' ? 'active' : null" @click.prevent="step = 'photos'">
            <unicon name="store" width="20" height="20" />
            <span class="ml-2 hidden lg:block">Photos</span>
          </button>
          <button :class="step === 'menus' ? 'active' : null" @click.prevent="step = 'menus'">
            <unicon name="store" width="20" height="20" />
            <span class="ml-2 hidden lg:block">Menus</span>
          </button>
          <button :class="step === 'contacts' ? 'active' : null" @click.prevent="step = 'contacts'">
            <unicon name="store" width="20" height="20" />
            <span class="ml-2 hidden lg:block">Contacts</span>
          </button>
        </nav>
      </div>

      <div class="mt-6">
        <!-- store -->
        <div class="w-full xl:max-w-screen-md" v-show="step === 'store'">
          <label for="name">Nom de l'etablissement</label>
          <input type="text" id="name" v-model="store.infos.name" />
          <label for="description" class="mt-4">Description</label>
          <textarea
            class="h-full"
            rows="3"
            v-model="store.infos.description"
            id="description"
            placeholder="Les meilleures pizzas du coin !"
          ></textarea>
          <label class="mt-4">Horaires d'ouverture</label>
          <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
            <input
              type="text"
              v-for="(day, index) in ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche']"
              :key="index"
              v-model="store.infos.opening_hours[index]"
              :placeholder="day + ' : 09:00 - 23:00'"
            />
          </div>
        </div>

        <!-- photos -->
        <div class="w-full xl:max-w-screen-lg" v-show="step === 'photos'">photos</div>

        <!-- menus -->
        <div class="w-full xl:max-w-screen-lg" v-show="step === 'menus'">
          <!-- <AdminCreateMenu :menus="store.menus" @update="updateStore" /> -->
        </div>

        <!-- contacts -->
        <div class="w-full xl:max-w-screen-md" v-show="step === 'contacts'">
          <div class="grid md:grid-cols-2 gap-4">
            <div>
              <div>
                <label>Email</label>
                <input type="email" v-model="store.infos.email" placeholder="gorestau@gmail.com" />
              </div>
              <div class="mt-2">
                <label>Telephone</label>
                <input type="tel" v-model="store.infos.phone_number" placeholder="0299884356" />
              </div>
            </div>
            <div>
              <div>
                <label>Site web</label>
                <input type="text" v-model="store.infos.website" placeholder="https://google.com" />
              </div>
              <div class="mt-2">
                <label>Adresse</label>
                <input
                  type="text"
                  v-model="store.infos.postal_address"
                  placeholder="20 rue de la Langoustine"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  middleware: "check-stores",
  data() {
    return {
      loading: true,
      store: null,
      step: "store", // store, photos, menus, contacts
    };
  },
  mounted() {
    this.getStore();
  },
  methods: {
    getStore() {
      if (!this.$store.state.stores.store) {
        this.$api.get("stores/" + this.$route.params.id).then((res) => {
          // this.$store.dispatch("stores/single", res.data.data);
          this.store = res.data.data
        });
      } else {
        this.$store.commit("stores/getStoreById", this.$route.params.id);
        let copiedStore = JSON.parse ( JSON.stringify ( this.$store.state.stores.store) )
        this.store = copiedStore
      }
    },

    updateStore() {
      this.$store.commit('stores/setStore', this.store)
      let copiedStore = JSON.parse ( JSON.stringify ( this.$store.state.stores.store) )
      this.store = copiedStore
      console.log('this.$store.state.stores.store', this.$store.state.stores.store);
    },
  },
};
</script>

<style lang="scss" scoped>
.store-nav-config {
  @apply flex text-gray-500 overflow-auto;
  @screen md {
    @apply overflow-visible;
  }

  button {
    @apply flex items-center h-16 px-6 tracking-wide border-b-2 border-gray-200;
    &.active {
      @apply text-gray-800 font-semibold border-b-2 border-gray-800;
    }
  }
}
</style>