<template>
  <div class="md:flex" v-if="store">
    <div
      class="flex-shrink-0 bg-white md:h-screen p-4 md:w-4/12 md:max-w-xs shadow"
    >
      <h2
        class="leading-tight flex place-items-center text-xl font-semibold text-gray-900"
      >
        {{ store.infos.name }}
        <IconVerifiedStore
          class="ml-2"
          v-if="store.infos.verified"
          height="12.5"
          fill="#2280FA"
        />
      </h2>
      <p
        class="mt-2 leading-tight text-sm text-gray-700"
        v-if="
          (store.infos.address_components.street &&
            store.infos.address_components.street_number &&
            store.infos.address_components.city &&
            store.infos.address_components.postal_code) != ''
        "
      >
        {{
          store.infos.address_components.street_number +
          " " +
          store.infos.address_components.street +
          ", " +
          store.infos.address_components.city +
          " " +
          store.infos.address_components.postal_code
        }}
      </p>
      <hr class="border-gray-200 my-6" />
      <!-- actions -->
      <div>
        <div class="flex place-items-center" v-if="$store.state.auth.isAdmin">
          <input
            type="checkbox"
            id="store_verified"
            v-model="store.infos.verified"
          />
          <label
            for="store_verified"
            class="mx-2 mb-0 normal-case font-normal text-base"
            >Etablissement vérifié</label
          >
          <IconVerifiedStore height="12.5" fill="#2280FA" />
        </div>

        <div class="mt-2" v-if="$store.state.auth.isAdmin">
          <label for="store_owner">Propriétaire de l'établissement</label>
          <select
            id="store_owner"
            v-model="store.user.id"
            @change="updateStoreOwner($event.target.value)"
          >
            <template v-for="(user, index) in users">
              <option :value="user.id" :key="index">
                {{ user.full_name + ` - ` + user.email }}
              </option>
            </template>
          </select>
        </div>

        <div class="mt-2">
          <label for="store_state">Etat de l'établissement</label>
          <select
            id="store_state"
            v-model="store.published"
            @change="updateStoreState($event.target.value)"
          >
            <option value="false">Brouillon</option>
            <option value="true">Publié</option>
          </select>
        </div>
        <button
          class="w-full mt-2 btn btn--green flex-1"
          @click.prevent="updateStore"
        >
          <span>Sauvegarder</span>
        </button>
      </div>
      <!-- nav -->
      <nav class="mt-6 store-nav-config">
        <button
          :class="step === 'store' ? 'active' : null"
          @click.prevent="step = 'store'"
        >
          <unicon name="store" width="20" height="20" />
          <span class="hidden md:block ml-2">Etablissement</span>
        </button>
        <button
          :class="step === 'photos' ? 'active' : null"
          @click.prevent="step = 'photos'"
        >
          <unicon name="images" width="20" height="20" />
          <span class="hidden md:block ml-2">Photos</span>
        </button>
        <button
          :class="step === 'cards' ? 'active' : null"
          @click.prevent="step = 'cards'"
        >
          <unicon name="file-alt" width="20" height="20" />
          <span class="hidden md:block ml-2">Cartes</span>
        </button>
        <button
          :class="step === 'contacts' ? 'active' : null"
          @click.prevent="step = 'contacts'"
        >
          <unicon name="postcard" width="20" height="20" />
          <span class="hidden md:block ml-2">Contacts</span>
        </button>
        <!-- <button
          :class="step === 'qrcode' ? 'active' : null"
          @click.prevent="step = 'qrcode'"
        >
          <unicon name="qrcode-scan" width="20" height="20" />
          <span class="hidden md:block ml-2">QRCode</span>
        </button> -->
      </nav>
    </div>

    <!-- content -->
    <div class="flex-1 content">
      <!-- store -->
      <div class="mx-auto xl:max-w-screen-lg" v-show="step === 'store'">
        <div class="grid lg:grid-cols-2 gap-4">
          <div>
            <label for="store_name">Nom de l'établissement</label>
            <input type="text" id="store_name" v-model="store.infos.name" />
          </div>
          <div>
            <label for="store_type">Type d'établissement</label>
            <select v-model="store.infos.type">
              <option value="" disabled>Choisissez un type ...</option>
              <template v-for="(type, index) in $store.state.stores.types">
                <option
                  :selected="type === store.infos.type"
                  :key="index"
                  :value="type"
                >
                  {{ type }}
                </option>
              </template>
            </select>
          </div>
        </div>
        <fieldset class="mt-4 p-4 pt-3 border-2 border-gray-300 rounded">
          <legend class="px-2 font-semibold">Equipements</legend>
          <div class="grid sm:grid-cols-2 lg:grid-cols-3">
            <template v-for="(equip, index) in $store.state.stores.equipements">
              <div :key="index" class="flex place-items-center">
                <input
                  type="checkbox"
                  :value="equip"
                  :id="'equip-' + index"
                  v-model="store.infos.equipements"
                />
                <label
                  class="w-full font-normal mb-0 text-base ml-2 normal-case"
                  :for="'equip-' + index"
                  >{{ equip }}</label
                >
              </div>
            </template>
          </div>
        </fieldset>
        <div class="mt-4">
          <AdminTagSelector
            :store-tags="store.infos.tags"
            @select="selectTag"
          />
        </div>
        <div class="mt-4">
          <label for="store_description">Description</label>
          <textarea
            class="h-full"
            rows="3"
            v-model="store.infos.description"
            id="store_description"
            placeholder="Les meilleures pizzas du coin !"
          ></textarea>
        </div>
        <fieldset class="mt-4 border-2 border-gray-300 rounded p-4 pt-3">
          <legend class="px-2 font-semibold">Horaires d'ouverture</legend>
          <div class="grid lg:grid-cols-2 gap-4">
            <input
              type="text"
              v-for="(day, index) in [
                'lundi',
                'mardi',
                'mercredi',
                'jeudi',
                'vendredi',
                'samedi',
                'dimanche',
              ]"
              :key="index"
              v-model="store.infos.opening_hours[index]"
              :placeholder="day + ' : 09:00 - 23:00'"
            />
          </div>
        </fieldset>
      </div>
      <!-- photos -->
      <div class="mx-auto xl:max-w-screen-lg" v-show="step === 'photos'">
        <!-- <StoreImagesViewer :editable="true" :store="store" /> -->
        <AdminFilesManager :store="store" />
      </div>
      <!-- cards -->
      <div class="mx-auto xl:max-w-screen-lg" v-show="step === 'cards'">
        <AdminCreateMenu :menus="store.menus" />
      </div>
      <!-- contacts -->
      <div class="mx-auto xl:max-w-screen-lg" v-show="step === 'contacts'">
        <fieldset class="p-4 border-2 border-gray-300 rounded">
          <legend class="px-2 font-semibold">Adresse postale</legend>
          <div class="grid gap-4 lg:grid-cols-11">
            <div class="lg:col-start-1 lg:col-end-2">
              <label for="store_street-number">Numero</label>
              <input
                type="text"
                id="store_street-number"
                v-model="store.infos.address_components.street_number"
                placeholder="35"
              />
            </div>
            <div class="lg:col-start-2 lg:col-end-6">
              <label for="store_street">Rue</label>
              <input
                type="text"
                id="store_street"
                v-model="store.infos.address_components.street"
                placeholder="Nom de la rue"
              />
            </div>
            <div class="lg:col-start-6 lg:col-end-10">
              <label for="store_city">Ville</label>
              <input
                type="text"
                id="store_city"
                v-model="store.infos.address_components.city"
                placeholder="Dinard"
              />
            </div>
            <div class="lg:col-start-10 lg:col-end-12">
              <label for="store_cp">Code postal</label>
              <input
                type="text"
                id="store_cp"
                v-model="store.infos.address_components.postal_code"
                placeholder="35800"
              />
            </div>
          </div>
        </fieldset>
        <div class="grid lg:grid-cols-3 gap-4 mt-4">
          <div>
            <label for="store_email">Email</label>
            <input
              type="email"
              v-model="store.infos.email"
              placeholder="gorestau@gmail.com"
            />
          </div>
          <div>
            <label for="store_phone">Tel.</label>
            <input
              type="tel"
              v-model="store.infos.phone_number"
              placeholder="0299884356"
            />
          </div>
          <div>
            <label for="store_wesbite">Site web</label>
            <input
              type="text"
              v-model="store.infos.website"
              placeholder="https://google.com"
            />
          </div>
        </div>
      </div>
      <!-- qrcode -->
      <div class="mx-auto xl-:max-w-screen-lg" v-show="step === 'qrcode'">
        <AdminQrCodeGenerator :store="store" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";

export default {
  data() {
    return {
      loading: true,
      step: "store", // store, photos, Cards, contacts, qrcode
      store: null,
    };
  },
  head() {
    return {
      title: `${this.store ? this.store.infos.name : ""} - Edition ~ Pretioù`,
    };
  },
  beforeMount() {
    setTimeout(() => {
      this.store = JSON.parse(JSON.stringify(this.stateStore));
    }, 100);
  },
  computed: {
    ...mapGetters("stores", ["storeById"]),
    ...mapGetters("users", ["userById"]),
    ...mapState("users", ["users"]),
    stateStore() {
      return this.storeById(this.$route.params.id);
    },
    // store() {
    //   return _.cloneDeep(this.stateStore);
    // }
  },
  methods: {
    selectTag(tags) {
      this.store.infos.tags = tags;
    },

    updateStoreOwner(owner_id) {
      if (owner_id != this.store.user.id) {
        let newOwner = this.userById(owner_id);
        console.log("newOwner", newOwner);
        this.store.user = newOwner;
      }
    },

    updateStoreState(state) {
      if (state === "true") {
        this.store.published = true;
      } else {
        this.store.published = false;
      }
    },

    updateStore() {
      console.log("this.store", this.store);
      const headers = {
        Authorization: "Bearer " + this.$store.state.auth.token,
      };
      this.$api
        .put("stores/" + this.$route.params.id, this.store, {
          headers: headers,
        })
        .then((res) => {
          this.store_state = null;
          this.$store.dispatch("stores/editStore", res.data.data);
          this.$toast.success("Etablissement mis à jour.");
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.store-nav-config {
  @apply flex;
  @screen md {
    @apply flex-col;
  }
  button {
    @apply flex items-center text-left p-4 rounded;
    &.active {
      @apply font-semibold bg-gray-100;
    }
  }
}
</style>