<template>
  <div class="md:h-screen w-screen md:overflow-hidden md:flex bg-gray-50">
    <div class="flex-shrink-0 bg-gray-900 h-full">
      <AdminNavbar />
    </div>
    <div class="h-full overflow-hidden w-full flex flex-col">
      <div class="overflow-y-auto h-full">
        <Nuxt />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: ['auth', 'check-stores'],
  mounted() {
    if(this.$store.state.auth.user.role === 2) {
      this.loadUsers()
    }
    this.loadTags()
  },
  methods: {
    loadUsers() {
      const headers = {
        Authorization: "Bearer " + this.$store.state.auth.token,
      };
      this.$api.get('users', { headers: headers }).then(res => {
        res.data.data.forEach(user => {
          this.$store.dispatch('users/addUser', user)
        })
      })
    },
    loadTags() {
      this.$api.get('tags').then(res => {
        res.data.tags.forEach(tag => {
          this.$store.dispatch('tags/addTag', tag)
        })
      })
    }
  },
};
</script>

<style lang="scss" scoped>
</style>