<template>
  <div class="overflow-x-hidden lg:flex lg:flex-col lg:min-h-screen">
    <Header />
    <div class="app-wrapper relative lg:container mx-auto">
      <MobileHead />
      <div class="app-content">
        <Nuxt />
      </div>
      <MobileNavbar />
    </div>
    <Footer/>
  </div>
</template>

<script>
export default {
  middleware: ["auth", "check-stores"],
  created() {
    this.getLocation();
  },
  methods: {
    getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.setlocation);
      }
    },

    setlocation(position) {
      this.$store.commit("locations/SET_LAT", position.coords.latitude);
      this.$store.commit("locations/SET_LNG", position.coords.longitude);
      console.log(
        "this.$store.state.locations.coords",
        this.$store.state.locations.coords
      );
    },
  },
};
</script>

<style lang="scss" scoped>

.app-content {
  overflow: auto;
  padding-top: 4rem;

  @screen lg {
    padding-top: 0;
    padding-bottom: 2rem !important;
  }
}

@supports (padding: Max(0px)) {
  .app-content {
    padding-bottom: calc(4rem + env(safe-area-inset-bottom))
  }
}

@screen lg {
  
}

.mobile-main-nav.is-open + .app-wrapper {
  @apply translate-x-3/4;
}
</style>