<template>
  <div
    class="flex sm:flex-col rounded overflow-hidden shadow bg-white transition-shadow duration-300 hover:shadow-md"
  >
    <div
      class="relative flex-shrink-0 w-32 sm:w-auto h-32 overflow-hidden card-thumb"
      v-if="thumb"
    >
      <img
        :src="thumb"
        alt=""
        class="w-full h-full object-cover transition-transform duration-300"
      />
      <nuxt-link :to="link ? link : ''" class="absolute inset-y-0 inset-x-0">&nbsp;</nuxt-link>
    </div>
    <div class="p-4 sm:mt-auto w-full overflow-hidden flex flex-col justify-center">
      <nuxt-link
        :to="{ name: 'search', query: { q: type } }"
        class="block -mt-1 hover:text-almond-900 text-almond-700 transition-colors duration-150 text-xs tracking-wide"
      >
        {{ type }}
      </nuxt-link>
      <nuxt-link
        :to="link ? link : ''"
        class="flex place-items-center text-lg hover:text-denim-500 transition-colors duration-150"
        ><span class="truncate">{{ title }}</span>
        <div v-if="verified" class="pl-2">
          <IconVerifiedStore height="12.5" fill="#2280FA" />
        </div>
      </nuxt-link>
      <div
        class="text-sm text-gray-600 truncate"
        v-if="(address.street && address.street_number && address.city) != ''"
      >
        {{ address.street_number ? address.street_number : '' }} {{ address.street + ", " + address.city }}
      </div>
      <!-- tags -->
      <div
        class="leading-none mt-2 text-xs text-gray-400"
        v-if="tags && tags.length"
      >
        <template v-for="(tag, index) in tags">
          <nuxt-link
            :to="{ name: 'search-tags-tag', params: { tag: tag.slug } }"
            class="hover:text-denim-500 transition-colors duration-150"
            :key="index"
            >{{ tag.title }}</nuxt-link
          ><span :key="tag.title" v-if="index < tags.length - 1">, </span>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    "loading",
    "thumb",
    "type",
    "link",
    "title",
    "address",
    "tags",
    "verified",
  ],
};
</script>

<style lang="scss" scoped>
.card-thumb:hover img {
  display: block;
  transform: scale(1.05);
}
.card-thumb a:last-of-type::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.3);
  pointer-events: none;
}
</style>