<template>
  <div>
    <div class="flex items-end">
      <button class="btn btn--blue mb-2" @click.prevent="createMenu">
        <unicon name="plus" width="20" height="20" />
        <span class="ml-2">Ajouter une carte</span>
      </button>
      <nav
        v-if="menus.length"
        class="flex flex-1 border-b-2 border-gray-200 ml-4 overflow-x-auto"
      >
        <template v-for="(menu, index) in menus">
          <a
            href="#"
            :key="index"
            class="p-4 block flex-shrink-0"
            :class="index === activeMenuIndex ? 'font-semibold' : null"
            @click.prevent="setActiveMenu(index)"
            >{{ menu.name }}</a
          >
        </template>
      </nav>
    </div>
    <div class="mt-4">
      <template v-for="(menu, index) in menus">
        <fieldset
          class="p-4 border-2 border-gray-300 rounded"
          :key="index"
          v-if="index === activeMenuIndex"
        >
          <legend class="px-2 font-semibold flex">
            <input type="text" v-model="menu.name" />
            <button
              @click.prevent="deleteTabsItem(index)"
              class="flex-shrink-0 h-12 w-12 text-red-500 flex place-items-center justify-center"
            >
              <unicon name="trash" width="20" height="20" />
            </button>
          </legend>

          <!-- <label>Plats</label> -->
          <template v-for="(plate, index) in menu.plates">
            <div :key="index" class="flex my-2">
              <div>
                <input
                  type="text"
                  v-model="plate.name"
                  autofocus
                  placeholder="Tomates Mozza"
                />
              </div>
              <div class="ml-2 w-2/4">
                <input
                  type="text"
                  v-model="plate.description"
                  placeholder="Description ..."
                />
              </div>
              <div class="flex place-items-center justify-center ml-2 w-40">
                <input
                  type="number"
                  v-model="plate.price"
                  class="text-right"
                  placeholder="10"
                  step="0.1"
                />
                <span class="ml-1">€</span>
              </div>
              <div class="ml-2">
                <button
                  @click.prevent="deletePlate(index)"
                  class="h-12 w-12 border-2 border-gray-200 text-red-500 flex place-items-center justify-center"
                >
                  <unicon name="trash" width="20" height="20" />
                </button>
              </div>
            </div>
          </template>

          <button class="btn btn--gray" @click.prevent="createPlate">
            Ajouter un plat
          </button>
        </fieldset>
      </template>
    </div>
  </div>
  <!-- <div class="grid grid-flow-row items-start lg:grid-flow-row lg:grid-cols-12 gap-6">
    <div class="tabs-nav">
      <div class="p-4">
        <button class="btn btn--green w-full" @click.prevent="createMenu">Nouveau menu</button>
      </div>
      <template v-for="(menu, index) in menus">
        <div :key="index">
          <div
            @click.prevent="setActiveMenu(index)"
            class="tabs-nav__item"
            :class="index === activeMenuIndex ? 'active' : null"
          >
            <span>{{ menu.name }}</span>
            <i class="ri-arrow-drop-right-line text-gray-500"></i>
          </div>
        </div>
      </template>
    </div>

    <div class="menus-content">
      <template v-for="(menu, index) in menus">
        <div :key="index" v-if="index === activeMenuIndex">
          <div class="flex items-end">
            <div class="flex-1">
              <label for="menu-name">Nom du menu</label>
              <input type="text" v-model="menu.name" id="menu-name" />
            </div>
            <div class="ml-6">
              <button
                class="px-4 py-3 rounded-md bg-red-200 text-red-700 flex items-center justify-center"
                @click.prevent="deleteTabsItem(index)"
              >
                <i class="ri-delete-bin-line"></i>
              </button>
            </div>
          </div>
          <hr class="my-4" />
          <label class="mb-4">Plats du menu</label>
          
          <template v-for="(plate, index) in menu.plates">
            <div
              class="grid grid-cols-6 gap-2 md:gap-4 mb-4 p-4 bg-white rounded-md shadow-md"
              :key="index"
            >
              <div class="col-span-6 md:col-span-2">
                <label for="plate-name">Nom</label>
                <input type="text" v-model="plate.name" id="plate-name" placeholder="Tomates Mozza" />
              </div>
              <div class="col-span-4 md:col-span-3">
                <label for="plate-description">Description</label>
                <input
                  type="text"
                  v-model="plate.description"
                  id="plate-description"
                  placeholder="Tomates, mozzarella, basilic, sauce maison ..."
                />
              </div>
              <div class="col-span-2 md:col-span-1">
                <label for="plate-price">Prix</label>
                <input
                  type="number"
                  v-model="plate.price"
                  id="plate-price"
                  placeholder="10"
                  step="0.5"
                />
              </div>
              <div class="col-span-6 text-right">
                <a
                  href="#"
                  class="text-red-600 text-xs"
                  click.prevent="deletePlate(index)"
                >Supprimer cette entrée</a>
              </div>
            </div>
          </template>
          <button class="btn btn--gray" @click.prevent="createPlate">Ajouter un plat</button>
        </div>
      </template>
    </div>
  </div> -->
</template>

<script>
export default {
  props: ["menus"],
  data() {
    return {
      activeMenuIndex: 0,
      selectedMenu: null,
    };
  },

  created() {
    this.setActiveMenu(this.activeMenuIndex);
  },

  methods: {
    setActiveMenu(index) {
      this.activeMenuIndex = index;
    },

    createMenu() {
      let newMenu = {
        id: null,
        store_id: this.$route.params.id,
        name: "Titre du menu",
        plates: null,
      };

      this.menus.push(newMenu);
      this.setActiveMenu(this.menus.length - 1);
      this.$api.post("menus", newMenu).then((res) => {
        this.menus[this.activeMenuIndex].id = res.data.data.id;
        console.log("res", res);
      });
    },

    createPlate() {
      let newPlate = {
        name: "",
        description: "",
        price: null,
      };

      console.log(this);

      if (this.menus[this.activeMenuIndex].plates === null)
        this.menus[this.activeMenuIndex].plates = [];

      this.menus[this.activeMenuIndex].plates.push(newPlate);
    },

    deletePlate(index) {
      this.menus[this.activeMenuIndex].plates.splice(index, 1);
    },

    deleteTabsItem(index) {
      this.$api
        .delete("menus/" + this.menus[this.activeMenuIndex].id)
        .then((res) => {
          this.menus.splice(index, 1);

          if (index > 0) {
            this.setActiveMenu(0);
          } else {
            this.setActiveMenu(index);
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.tabs-nav {
  @apply bg-white shadow-md rounded-md overflow-hidden;
  @screen lg {
    @apply col-span-3;
  }

  input {
    @apply rounded-none border-none;
  }

  &__item {
    @apply flex items-center justify-between border-t border-gray-100 px-4 py-3 cursor-pointer transition-colors duration-300;

    &:hover,
    &.active {
      @apply bg-gray-100;
    }
  }
}

.menus-content {
  @screen lg {
    @apply col-span-9;
  }
}
</style>