<template>
  <div>
    <div class="md:flex mt-2 md:mt-0">
      <div>
        <label for="users">Filtrer par utilisateur</label>
        <select id="users" v-model="selectedUser" @change="$emit('select-user', $event.target.value)">
          <option value="">Tous les utilisateurs ...</option>
          <template v-for="(user, index) in userList">
            <option :key="index" :value="user.id">{{ user.full_name }} -  {{ user.email }}</option>
          </template>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      selectedUser: '',
    };
  },

  computed: {
      ...mapGetters('users', {
        userList: 'users'
      }),
  },
};
</script>

<style lang="scss" scoped>
</style>