<template>
  <div class="p-6 bg-gray-200 block static top-0">
    <button class="flex items-center" @click.prevent="goBack">
      <!-- <i class="ri-arrow-go-back-line ri-xl"></i> -->
      <unicon name="history" fill="#000" />
      <span class="sr-only">Retour en arriere</span>
    </button>
  </div>
</template>

<script>
export default {
  methods: {
    goBack() {
      this.$router.go(-1)
    }
  },
};
</script>

<style lang="scss" scoped>
</style>