<template>
  <div>
    <button
      v-if="pagination.last_page > 1"
      class="btn btn--gray"
      @click.prevent="loadMore"
    >
      Load more ...
    </button>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["pagination"],
  data() {
    return {
      currentPage: 1,
      loadedStores: [],
    };
  },

  methods: {
    loadMore() {
      this.currentPage++;
      this.loadData(this.currentPage);
    },
    loadData(page) {
      this.$api.get("stores?page=" + page).then((res) => {
        const stores = res.data.data;
        stores.forEach((store) => {
          this.loadedStores.push(store);
        });
        this.$emit("load-more", this.loadedStores);
      });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>