<template>
  <div class="flex flex-col h-full">
    <div
      class="brand flex relative place-items-center md:justify-center text-almond-500"
    >
      <nuxt-link
        :to="{ name: 'admin' }"
        class="text-3xl h-16 w-16 flex place-items-center justify-center font-semibold text-almond-500"
        >Pù</nuxt-link
      >
      <button
        @click.prevent="navVisible = !navVisible"
        class="md:hidden absolute w-16 h-16 right-0 inset-y-0 flex place-items-center justify-center"
      >
        <unicon name="bars" v-if="!navVisible" />
        <unicon name="times" v-if="navVisible" />
      </button>
    </div>
    <nav class="admin-navbar" :class="navVisible ? 'visible' : null">
      <!-- <nuxt-link :to="{ name: 'admin' }"
        ><unicon name="dashboard" fill="#FFF" /><span class="ml-2 md:sr-only"
          >Dashboard</span
        ></nuxt-link
      > -->
      <nuxt-link :to="{ name: 'admin-stores' }"
        ><unicon name="store" /><span class="ml-2 md:sr-only"
          >My stores</span
        ></nuxt-link
      >
      <nuxt-link v-if="$store.state.auth.isAdmin" :to="{ name: 'admin-tags' }"
        ><unicon name="tag-alt" /><span class="ml-2 md:sr-only"
          >Tags</span
        ></nuxt-link
      >
      <nuxt-link v-if="$store.state.auth.isAdmin" :to="{ name: 'admin-users' }"
        ><unicon name="users-alt" /><span class="ml-2 md:sr-only"
          >Users</span
        ></nuxt-link
      >
      <nuxt-link v-if="$store.state.auth.isAdmin" :to="{ name: 'admin-modifications' }"
        ><unicon name="bell" /><span class="ml-2 md:sr-only"
          >Stores Modifications</span
        ></nuxt-link
      >
      <nuxt-link
        v-if="!$store.state.auth.isAdmin"
        :to="{ name: 'admin-profile' }"
        ><unicon name="user" /><span class="ml-2 md:sr-only"
          >Profile</span
        ></nuxt-link
      >
      <div class="mt-auto border-t border-gray-800 md:border-t-0">
        <nuxt-link :to="{ path: '/' }"
          ><unicon name="home-alt" /><span class="ml-2 md:sr-only"
            >View website</span
          ></nuxt-link
        >
        <a href="#" @click.prevent="logout"
          ><unicon name="signout" /><span class="ml-2 md:sr-only"
            >Sign out</span
          ></a
        >
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      navVisible: false,
    };
  },

  methods: {
    logout() {
      let data = {
        user: this.$store.state.auth.user,
      };
      const headers = {
        Authorization: "Bearer " + this.$store.state.auth.token,
      };
      this.$api.post("logout", data, {headers: headers}).then((res) => {
        this.$router.push({
          name: "index",
        });
        setTimeout(() => {
          this.$store.dispatch("auth/logout").then((res) => {
            this.$cookies.remove("user");
            this.$cookies.remove("token");
          });
        }, 100);
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.admin-navbar {
  @apply hidden place-items-center p-4;

  &.visible {
    @apply block;
  }

  @screen md {
    @apply flex-col flex flex-1;

    &.visible {
      @apply flex flex-col;
    }
  }

  a {
    @apply flex place-items-center rounded p-4 text-white my-1;
    &:hover,
    &.active,
    &.nuxt-link-exact-active {
      @apply bg-gray-800 text-almond-500;
    }

    @screen md {
      @apply h-16 w-16 justify-center;
    }
  }
}
</style>