<template>
  <div>
    <div>
      <input
        type="file"
        multiple
        @change="updateFiles"
        class="hidden"
        ref="storeImages"
      />
      <div
        @click.prevent="$refs.storeImages.click()"
        class="p-6 font-semibold cursor-pointer flex place-items-center justify-center rounded bg-gray-300"
      >
        <div class="text-center">
          <unicon name="images" width="30" height="30" />
          <span class="block">Télécharger des images</span>
        </div>
      </div>
      <div
        class="mt-6 grid grid-cols-3 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 gap-6"
      >
        <template v-for="(image, index) in imagesPreviews">
          <div :key="index" class="rounded border border-gray-300 p-2">
            <a href="#" class="w-full block relative" style="padding-top: 100%">
              <img
                :src="image.path"
                class="rounded absolute top-0 left-0 w-full h-full object-cover"
              />
            </a>
            <div class="flex place-items-center justify-around mt-2">
              <a href="#" @click.prevent="imageSlideIndex = index"
                ><unicon name="eye" width="20" height="20"
              /></a>
              <a href="#" @click.prevent="removeImage(index)"
                ><unicon name="trash" width="20" height="20"
              /></a>
            </div>
          </div>
        </template>
      </div>
      <vue-gallery-slideshow
        :images="imagesLinks"
        :index="imageSlideIndex"
        @close="index = null"
      ></vue-gallery-slideshow>
    </div>
  </div>
</template>

<script>
export default {
  props: ["store"],
  data() {
    return {
      files: [],
      imagesPreviews: this.store.images ? this.store.images : [],
      imageSlideIndex: null,
      imagesLinks: [],
    };
  },

  mounted() {
    this.getImagesLinks(this.store.images);
  },

  methods: {
    getImagesLinks(images) {
      images.forEach((img) => {
        this.imagesLinks.push(img.path);
      });
    },

    updateFiles(event) {
      let files = event.target.files;
      for (let i = 0; i < files.length; i++) {
        files[i]["path"] = URL.createObjectURL(files[i]);
        console.log("files[i]", files[i]);
        this.store.images.push(files[i]);
        this.files.push(files[i]);
      }

      this.uploadFiles();
    },

    uploadFiles() {
      let data = new FormData();
      for (var i = 0; i < this.files.length; i++) {
        let file = this.files[i];
        data.append("files[" + i + "]", file);
      }
      data.append("store_id", this.store.id);

      this.$api.post("files", data).then((response) => {
        console.log("response upload files", response);
      });
    },

    removeImage(index) {
      let deletedImage = this.imagesPreviews[index].id;
      this.imagesPreviews.splice(index, 1);
      this.$api.delete("files/" + deletedImage).then((response) => {
        console.log("file destroyed", response);
      });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>