<template>
  <div class="relative">
    <label>Tags</label>
    <div
      class="selected_tags-list overflow-hidden cursor-pointer"
      tabindex="0"
      @blur="closeTagsList"
      @focus="tagsListIsOpen = true"
      @keyup.esc="tagsListIsOpen = false"
    >
      <div class="overflow-x-auto flex">
        <span class="text-gray-500 text-sm px-4" v-if="!storeTags.length">Ajoutez des tags ...</span>
        <template v-for="(tag, index) in storeTags">
          <div
            :key="index"
            class="bg-blue-100 text-blue-900 text-sm rounded-full px-2 py-1 flex-shrink-0 mx-1 flex place-items-center"
          >
            <span class="mr-1">{{ tag.title }}</span>
            <button
              class="flex place-items-center"
              @click.prevent="removeTag(index)"
            >
              <unicon name="times" width="15" height="15" />
            </button>
          </div>
        </template>
      </div>
    </div>
    <div
      :class="!tagsListIsOpen ? 'hidden' : null"
      class="tags-list shadow-lg p-2 flex flex-wrap absolute top-auto bg-white rounded-b w-full text-sm border-2 border-blue-700 border-t-0 overflow-y-auto"
    >
      <template v-for="(tag, index) in tags">
        <div
          :key="index"
          tabindex="0"
          class="bg-blue-100 text-blue-900 text-sm cursor-pointer rounded-full px-2 py-1 flex-shrink-0 m-1 flex place-items-center"
          @click.prevent="selectTag(tag)"
          @keyup.enter="selectTag(tag)"
          v-if="!selectedTags.some((t) => t.title === tag.title)"
        >
          <span class="mr-1">{{ tag.title }}</span>
          <unicon name="plus" width="15" height="15" />
        </div>
      </template>
      <div
        v-if="
          !Object.values(tags).length ||
          selectedTags.length === Object.values(tags).length
        "
        class="py-2 px-3 flex place-items-center text-gray-500"
      >
        Aucun tag disponible ...
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import _ from 'lodash';

export default {
  props: ["storeTags"],
  data() {
    return {
      selectedTags: [],
      tagsListIsOpen: false,
    };
  },
  beforeMount() {
    setTimeout(() => {
      this.selectedTags = this.storeTags;
    }, 50);
  },
  computed: {
    ...mapState("tags", {
      stateTags: 'tags'
    }),
    tags() {
      return _.sortBy(this.stateTags, 'title')
    }
  },
  methods: {
    closeTagsList() {
      setTimeout(() => {
        this.tagsListIsOpen = false
      }, 150);
    },
    selectTag(tag) {
      this.selectedTags.push(tag);
      this.tagsListIsOpen = false;
      this.$emit("select", this.selectedTags);
    },

    removeTag(index) {
      this.tagsListIsOpen = false;
      this.selectedTags.splice(index, 1);
    },
  },
};
</script>

<style lang="scss" scoped>
.selected_tags-list {
  @apply p-2 flex place-items-center bg-white border-2 border-gray-200 h-12 rounded;
}
.tags-list {
  // height: 10rem;
  max-height: 10rem;
  transform: translateY(-3px);
}
</style>