<template>
  <div>
    <button v-if="store.published" @click.prevent="generateCode" class="btn btn--blue">
      Generer un QRCode
    </button>
    <div class="mt-6" v-if="qrcode">
        <img :src="'data:image/png;base64,' + qrcode" alt="">
    </div>
  </div>
</template>

<script>
export default {
  props: ["store"],
  data() {
      return {
          qrcode: null
      }
  },
  methods: {
    generateCode() {
        let data = {
            store: this.store
        }
      this.$api.post("qrcode/generate", data).then((res) => {
          console.log(res)
          this.qrcode = res.data.qrcode;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>