<template>
  <div
    class="create-store__steps w-full max-w-screen-md mx-auto flex items-center justify-around my-10"
  >
    <template v-for="(step, index) in steps">
      <div :key="index" class="step flex-row font-semibold text-gray-900">
        <div
          class="h-10 w-10 mx-auto flex items-center justify-center rounded-full bg-gray-200"
          :class="currentStep > (index + 1) ? 'bg-green-500 text-white' : null
                || currentStep == (index + 1) ? 'border-2 border-green-500' : null"
        >{{ step.step }}</div>
        <span
          class="tracking-wide text-xs uppercase sr-only md:not-sr-only"
          :class="currentStep > (index + 1) ? 'text-green-500' : null"
        >{{ step.title }}</span>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: ["current-step"],
  data() {
    return {
      steps: [
        {
          step: 1,
          title: "L'établissement",
        },
        {
          step: 2,
          title: "Infos. Complementaires",
        },
        {
          step: 3,
          title: "Contacts",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.create-store__steps {
  position: relative;

  &::before {
    content: "";
    @apply absolute left-0 right-0 border-t-2 border-gray-300 z-0;
    
    @screen md {
      transform: translateY(-0.6rem);
    }
  }

  .step {
    z-index: 1;
  }
}
</style>