<template>
  <div class="relative mb-2">
    <label v-if="label" class>
      <span>{{ label }}</span>
      <span class="block text-blue-500 normal-case font-normal"
        >Ce système utilise Google Places si vous y êtes référencé</span
      >
    </label>
    <input
      @input="updateName"
      @blur="updateName"
      @keyup.enter="updateName"
      v-model="storeName"
      type="text"
      :placeholder="!placeholder ? 'Votre restaurant' : placeholder"
      required
    />
    <div
      v-if="stores.length && input"
      class="absolute left-0 right-0 top-auto py-2 mt-1 bg-white border rounded shadow-lg"
    >
      <a
        href="#"
        v-for="(store, index) in stores"
        :key="index"
        @click="selectStore(store)"
        class="block px-4 py-1 hover:bg-gray-100"
        >{{ store.description }}</a
      >
    </div>
  </div>
</template>

<script>
import { debounce } from "lodash";
export default {
  name: "GooglePlaces",
  props: ["placeholder", "label"],
  data() {
    return {
      storeName: null,
      selectedStore: null,
      stores: [],
      details: null,
      input: false
    };
  },

  methods: {
    updateName() {
      // this.input = false
      if(this.details) {
        this.details.name = this.storeName;
      } else {
        this.details = {}
        this.details.name = this.storeName
      }
      this.autoCompleteData()
      this.$emit("update-name", this.details);
    },

    autoCompleteData: debounce(function () {
      this.input = true;
      this.$api.get("googleplaces/" + this.storeName).then((response) => {
          this.stores = [];
          console.log(response);
          response.data.predictions.forEach((p) => {
            this.stores.push(p);
            console.log("this.stores", this.stores);
          });
        });
    }, 500),

    getDetails() {
      this.$api
        .get("googleplaces/" + this.selectedStore.place_id + "/details")
        .then((response) => {
          this.details = response.data.result;
          this.details.name = response.data.result.name;
          console.log("this.details", this.details);
          this.$emit("select-store", this.details);
        });
    },

    selectStore(store) {
      this.selectedStore = store;
      this.stores = [];

      this.getDetails();
    },
  },
};
</script>

<style lang="scss" scoped>
</style>