<template>
    <div>
        <!-- carousel -->
        <div v-if="activeType == 'carousel' && !editable && imagesPreviews" class="carousel  shadow-lg overflow-hidden flex rounded-lg h-64">
            <div v-if="!imagesPreviews" class="flex items-center justify-center bg-gray-200 h-full">
                <Icon name="image" custom="text-4xl text-gray-400" />
            </div>
            <div v-if="imagesPreviews" class="relative flex">
                <template v-for="(image, index) in imagesPreviews">
                    <div v-show="activeImage == index" :key="index">
                        <img :src="image.path" alt="" class=" h-full w-full object-cover">
                    </div>
                </template>

                <nav class="absolute inset-0 flex items-center justify-between" v-if="imagesPreviews.length > 1">
                    <button class="btn" @click="prev">
                        <Icon name="angle-left-b" custom="text-white text-2xl" />
                    </button>
                    <button class="btn" @click="next">
                        <Icon name="angle-right-b" custom="text-white text-2xl" />
                    </button>
                </nav>
            </div>
        </div>

        <!-- gallery -->
        <div class="w-full gallery" v-if="activeType == 'gallery' && !editable && imagesPreviews">
            <div v-if="imagesPreviews" class="flex">
                <div class="w-3/4 shadow-lg overflow-hidden flex-1 mr-2 bg-gray-200 rounded-lg">
                    <img :src="imagesPreviews[activeImage].path" alt="" class="h-full w-full object-cover">
                </div>
                <div class="w-1/4 grid grid-rows-4 gap-2">
                    <div @click="setActiveImage(index)" v-for="(image, index) in imagesPreviews" :key="index" class=" cursor-pointer shadow-lg overflow-hidden rounded">
                        <img :src="image.path" alt="" class="h-full w-full object-cover">
                    </div>
                </div>
            </div>
        </div>

        <!-- editable -->
        <div v-if="editable" class="w-full">
            <label>Ajouter des photos</label>
            <div class="grid grid-cols-4 gap-2">
                <div v-for="(image, index) in imagesPreviews" :key="index" class="flex items-center">
                    <div class="relative h-24 w-24 overflow-hidden rounded-lg shadow-xl">
                        <button @click.prevent="removeImage(index)"
                        class="absolute w-full inset-0 bg-black bg-opacity-25 opacity-0 hover:opacity-100 flex items-center justify-center">
                            <Icon name="times" custom="text-4xl text-white" />
                        </button>
                        <img :src="image.path" alt="" class="w-full h-full object-cover">
                    </div>
                </div>
                <input type="file" multiple @change="updateFiles" class="hidden" ref="storeImages">
                <div class="flex">
                    <button @click.prevent="$refs.storeImages.click()" class="flex bg-gray-900 justify-center items-center h-24 w-24 overflow-hidden rounded-lg shadow-xl">
                        <Icon name="images" custom="text-2xl text-gray-200" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'StoreImagesViewer',
        props: ['store', 'type', 'editable'],
        data() {
            return {
                files: [],
                imagesPreviews: this.store.images ? this.store.images : [],
                activeType: this.type ? this.type : 'gallery',
                activeImage: 0,
            }
        },

        created() {
            // console.log('this.images', this.images)  
        },

        methods: {
            updateFiles(event) {
                let files = event.target.files
                for(let i = 0; i < files.length; i++) {
                    files[i]['path'] = URL.createObjectURL(files[i])
                    console.log('files[i]', files[i])
                    this.store.images.push(files[i])
                    this.files.push(files[i])
                }

                this.uploadFiles()
            },

            uploadFiles() {
                let data = new FormData()
                for( var i = 0; i < this.files.length; i++ ){
                    let file = this.files[i];
                    data.append('files[' + i + ']', file);
                }
                data.append('store_id', this.store.id)

                this.$http.post('/api/files', data).then(response => {
                    console.log('response upload files', response);
                })
            },

            removeImage(index) {
                let deletedImage = this.imagesPreviews[index].id
                this.imagesPreviews.splice(index, 1) 
                this.$http.delete('/api/files/' + deletedImage).then(response => {
                    console.log('file destroyed', response)
                })
            },

            prev() {
                this.activeImage--
                if(this.activeImage === -1) {
                    this.activeImage = this.imagesPreviews.length - 1
                }
            },
            
            next() {
                this.activeImage++
                if(this.activeImage === this.imagesPreviews.length) {
                    this.activeImage = 0
                }
            },

            setActiveImage(index) {
                this.activeImage = index
            }
        },
    }
</script>

<style lang="scss" scoped>
</style>