<template>
  <div class="container">
    <h1 class="text-2xl pt-4">
      Conditions générales
      <small class="block text-gray-500"
        >Les présentes conditions générales régissent l’utilisation de ce site :
        https://pretiou.fr/</small
      >
    </h1>

    <p class="mt-4">
      Ce site appartient et est géré par <strong>Elliot COLLIN</strong>.<br />
      En utilisant ce site, vous indiquez que vous avez lu et compris les
      conditions d’utilisation et que vous acceptez de les respecter en tout
      temps.
    </p>
    <p class="text-center my-6 text-gray-500">
      Type de site : Annuaire de restaurants
    </p>
    <h3 class="text-xl">Propriété intellectuelle</h3>
    <p>
      Tout contenu publié et mis à disposition sur ce site est la propriété de
      ses créateurs. Cela comprend, mais n’est pas limité aux images, textes,
      logos, documents, fichiers téléchargeables et tout ce qui contribue à la
      composition de ce site.
    </p>

    <h3 class="text-xl mt-6">Restrictions d'âge</h3>
    <p>
      Il n'y a aucune restriction d'âge.
    </p>

    <h3 class="text-xl mt-6">Comptes</h3>
    <p>
      Lorsque vous créez un compte sur notre site, vous acceptez ce qui suit :
      que vous êtes seul responsable de votre compte et de la sécurité et la
      confidentialité de votre compte, y compris les mots de passe ou les
      renseignements de nature délicate joints à ce compte, et que tous les
      renseignements personnels que vous nous fournissez par l’entremise de
      votre compte sont à jour, exacts et véridiques et que vous mettrez à jour
      vos renseignements personnels s’ils changent. Nous nous réservons le droit
      de suspendre ou de résilier votre compte si vous utilisez notre site
      illégalement ou si vous violez les conditions d’utilisation acceptable.
    </p>

    <h3 class="text-xl mt-6">Limitation de responsabilité</h3>
    <p>
      Elliot COLLIN ou l’un de ses employés sera tenu responsable de tout
      problème découlant de ce site. Néanmoins, Elliot COLLIN et ses employés ne
      seront pas tenus responsables de tout problème découlant de toute
      utilisation irrégulière de ce site.
    </p>

    <h3 class="text-xl mt-6">Indemnité</h3>
    <p>
      En tant qu’utilisateur, vous indemnisez par les présentes Elliot COLLIN de
      toute responsabilité, de tout coût, de toute cause d’action, de tout
      dommage ou de toute dépense découlant de votre utilisation de ce site ou
      de votre violation de l’une des dispositions énoncées dans le présent
      document.
    </p>

    <h3 class="text-xl mt-6">Lois applicables</h3>
    <p>
      Ce document est soumis aux lois applicables en France et vise à se
      conformer à ses règles et règlements nécessaires. Cela inclut la
      réglementation à l’échelle de l’UE énoncée dans le RGPD.
    </p>

    <h3 class="text-xl mt-6">Divisibilité</h3>
    <p>
      Si, à tout moment, l’une des dispositions énoncées dans le présent
      document est jugée incompatible ou invalide en vertu des lois applicables,
      ces dispositions seront considérées comme nulles et seront retirées du
      présent document. Toutes les autres dispositions ne seront pas touchées
      par les lois et le reste du document sera toujours considéré comme valide.
    </p>

    <h3 class="text-xl mt-6">Modifications</h3>
    <p>
      Ces conditions générales peuvent être modifiées de temps à autre afin de
      maintenir le respect de la loi et de refléter tout changement à la façon
      dont nous gérons notre site et la façon dont nous nous attendons à ce que
      les utilisateurs se comportent sur notre site. Nous recommandons à nos
      utilisateurs de vérifier ces conditions générales de temps à autre pour
      s’assurer qu’ils sont informés de toute mise à jour. Au besoin, nous
      informerons les utilisateurs par courriel des changements apportés à ces
      conditions ou nous afficherons un avis sur notre site.
    </p>

    <h3 class="text-xl mt-6">Modifications</h3>
    <p>
      Veuillez communiquer avec nous si vous avez des questions ou des
      préoccupations. Nos coordonnées sont les suivantes :
      <strong>kenavo@pretiou.fr</strong>
    </p>

    <p class="mt-6 text-right text-gray-500 pb-4">
      Date d'entrée en vigueur : le 25 novembre 2020.
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>