<template>
  <div class="container">
    <h2 class="text-2xl mt-4">Nous contacter</h2>
    <p class="text-gray-500 mt-2 text-sm md:text-base lg:text-lg">
      Vous êtes le dirigeant d'un établissement listé sur
      <strong>Pretioù</strong> et vous souhaitez prendre la main sur votre
      établissement, ou juste nous dire un petit mot, n'hésitez pas à nous envoyer un mail.
    </p>
    <a class="block mt-4 text-center text-xl" href="mailto:kenavo@pretiou.fr">kenavo&#64;pretiou&#46;fr</a>
    <div class="mt-4 text-center text-almond-500">
        <unicon name="envelope-heart" />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>