<template>
  <div>
    <div class="container">
      <h2 class="text-2xl mt-4">Kenavo,</h2>
      <p class="text-gray-500 mt-2 text-sm md:text-base lg:text-lg">
        En cette période, vos restaurateurs s'adaptent avec la vente à emporter.
        Nous répertorions toutes leurs cartes. Vous n'avez plus qu'à les appeler
        pour commander votre repas !
      </p>
      <section role="section" class="py-6">
        <header>
          <span
            class="block leading-tight tracking-wide uppercase text-sm font-semibold"
            >Tous les établissements</span
          >
          <hr class="w-8 border-b-2 border-almond-500" />
        </header>
        <div
          class="mt-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2"
          v-if="$store.state.stores.storeLoading"
        >
          <template v-for="i in 6">
            <div
              :key="i"
              class="flex flex-col h-40 rounded-lg bg-gray-100 p-3 md:p-4"
            >
              <div class="text-xs leading-tight text-almond-500">
                <Skeleton placeholder="Pizzeria" />
              </div>
              <div class="mt-auto">
                <div class="text-sm md:text-lg">
                  <Skeleton placeholder="Eatblissement" />
                </div>
                <div class="text-xs"><Skeleton placeholder="Adresse" /></div>
              </div>
            </div>
          </template>
        </div>
        <div
          class="mt-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2"
          v-if="!$store.state.stores.storeLoading"
        >
          <template v-for="store in stores">
            <StoreCard
              :key="store.id"
              :link="{
                name: 'stores-slug',
                params: { slug: store.infos.slug },
              }"
              :thumb="store.images.length ? store.images[0].path : null"
              :type="store.infos.type"
              :title="store.infos.name"
              :verified="store.infos.verified"
              :address="store.infos.address_components"
              :tags="store.infos.tags"
            />
          </template>
          <LoadMoreStores
            v-if="pagination && Object.values(stores).length >= pagination.per_page && (pagination.total - Object.values(stores).length) != 0"
          />
          <!-- <div
            v-if="pagination && Object.values(stores).length < pagination.total"
            class="bg-almond-100 h-40 text-almond-900 rounded-lg flex flex-col place-items-center justify-center text-xs"
          >
            <unicon name="plus" />
            <span>Load more ...</span>
          </div> -->
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import _ from "lodash";
export default {
  computed: {
    ...mapGetters("stores", {
      stateStores: "publishedStores",
      pagination: "pagination",
    }),
    ...mapState("stores", ["storeLoading"]),
    stores() {
      return _.orderBy(this.stateStores, ["updated_at"]).reverse();
    },
  },
};
</script>

<style lang="scss" scoped>
</style>