<template>
  <div class="content">
    <h2 class="text-xl text-gray-900">
      Liste des tags
      <small class="block normal-case text-sm text-gray-600">
        <strong>{{ Object.values(tags).length }}</strong> tags sont enregistrés
      </small>
    </h2>
    <div class="mt-6">
      <form @submit.prevent="addTag" class="flex items-end">
        <div>
          <label for="tag_name">Ajouter un tag</label>
          <input type="text" id="tag_name" v-model="tag" />
        </div>
        <button
          class="ml-2 w-12 h-12 rounded bg-blue-300 text-blue-900 flex place-items-center justify-center"
          type="submit"
        >
          <unicon name="plus" width="20" height="20" />
        </button>
      </form>
    </div>
    <div class="mt-6 w-full">
      <div class="w-full overflow-x-auto flex flex-wrap">
        <template v-for="(tag, index) in Object.values(tags)">
          <div
            :key="index"
            class="bg-blue-100 text-blue-900 text-sm rounded-full px-2 py-1 flex-shrink-0 mx-1 flex place-items-center mx-1 my-1"
          >
            <span class="mr-1">{{ tag.title }}</span>
            <button
              class="flex place-items-center"
              @click.prevent="selectedTag = tag"
            >
              <unicon name="trash" width="15" height="15" />
            </button>
          </div>
        </template>
      </div>
    </div>

    <!-- modal -->
    <Modal v-if="selectedTag" @close="selectedTag = null">
      <template v-slot:head>
        Supprimer le tag <strong>{{ selectedTag.title }}</strong> ?
      </template>
      Cette action sera définitive, êtes-vous sûr ?
      <template v-slot:actions>
        <button
          class="btn btn--red ml-2"
          @click.prevent="deleteTag(selectedTag)"
        >
          Supprimer
        </button>
      </template>
    </Modal>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  middleware: ["isAdmin"],
  head: {
    title: `Tous les tags - Administration ~ Pretioù`
  },
  data() {
    return {
      tag: null,
      selectedTag: null,
    };
  },
  computed: {
    ...mapState("tags", {
      stateTags: 'tags'
    }),
    tags() {
      return _.sortBy(this.stateTags, 'title')
    }
  },
  methods: {
    addTag() {
      this.$api.post("tags", { title: this.tag }).then((res) => {
        this.$store.dispatch("tags/addTag", res.data.tag).then((res) => {
          this.$toast.success(`Tag ajouté avec succès.`);
        });
      });
    },

    deleteTag(tag) {
      this.$api.delete("tags/" + tag.id).then((res) => {
        this.$store.dispatch("tags/removeTag", tag).then((res) => {
          this.selectedTag = null
          this.$toast.success(`Le tag ${tag.title} a été supprimé avec succès.`)
        });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.tags-table {
  th,
  td {
    @apply px-4;
  }
}
</style>