<template>
  <div class="content">
    <h2 class="text-xl text-gray-900">Ajouter un utilisateur</h2>
    <div class="mt-6 md:max-w-lg">
      <FormUser :user="user" @submit="addUser" />
    </div>
    <div class="mt-6" v-if="token">
      <a class="btn btn--blue" :href="`/auth/reset_password?email=${user.email}&token=${token}`">Reset password</a>
    </div>
  </div>
</template>

<script>
export default {
  middleware: ["isAdmin"],
  head: {
    title: `Ajouter un utilisateur - Administration ~ Pretioù`,
  },
  data() {
    return {
      token: null,
      user: {
        first_name: "",
        last_name: "",
        email: "",
        role: 1,
      },
    };
  },

  methods: {
    addUser(user) {
      const headers = {
        Authorization: `Bearer ${this.$store.state.auth.token}`,
      };
      this.$api.post("register", user, { headers: headers }).then((res) => {
        console.log("res.data", res.data);
        this.token = res.data.token
        this.$store.dispatch("users/addUser", res.data.user);
        this.$toast.success(`Utilisateur ajouté avec succès.`);
        // this.$router.push({
        //   name: "admin-users",
        // });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>