<template>
  <div class="content">
    <div class="min-h-full flex flex-col items-start">
      <h2 class="text-xl text-gray-900">
        Liste des utilisateurs
        <small class="block normal-case text-sm text-gray-600">
          <strong>{{ Object.values(users).length }}</strong> utilisateurs sont
          enregistrés
        </small>
      </h2>
      <nuxt-link :to="{ name: 'admin-users-add' }" class="btn btn--blue mt-6">
        <unicon name="plus" width="20" height="20" />
        <span class="ml-2">Ajouter un utilisateur</span>
      </nuxt-link>
      <div class="mt-6 w-full">
        <div class="w-full overflow-x-auto">
          <table class="users-table table-fixed w-full">
            <thead>
              <tr class="text-left">
                <th class="w-16 text-right">ID</th>
                <th class="lg:w-3/12">Utilisateur</th>
                <th class="lg:w-3/12">Role</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(user, index) in users">
                <tr :key="index">
                  <td class="text-right">{{ user.id }}</td>
                  <td class="leading-tight">
                    <span class="w-full truncate block">{{ user.full_name }}</span>
                    <span class="block w-full truncate text-gray-500 text-sm">{{
                      user.email
                    }}</span>
                  </td>
                  <td>
                    <select
                      :disabled="user.role === 2"
                      @change="updateUserRole($event.target.value, user)"
                    >
                      <option :selected="user.role === 1" value="1">
                        Utilisateur
                      </option>
                      <option :selected="user.role === 2" value="2">
                        Administrateur
                      </option>
                    </select>
                  </td>
                  <td class="flex justify-end">
                    <nuxt-link
                      :to="{
                        name: 'admin-users-id-edit',
                        params: { id: user.id },
                      }"
                      class="w-12 h-12 rounded border-2 border-gray-300 flex place-items-center justify-center"
                    >
                      <unicon name="edit" width="20" height="20" />
                    </nuxt-link>
                    <button
                      @click.prevent="selectedUser = user"
                      class="ml-1 w-12 h-12 rounded border-2 border-gray-300 flex place-items-center justify-center"
                    >
                      <unicon name="trash" width="20" height="20" />
                    </button>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- modal -->
    <Modal v-if="selectedUser" @close="selectedUser = null">
      <template v-slot:head>
        Supprimer l'utilisateur <strong>{{ selectedUser.full_name }}</strong> ?
      </template>
      Cette action sera définitive, êtes-vous sûr ?
      <template v-slot:actions>
        <button
          class="btn btn--red ml-2"
          @click.prevent="deleteUser(selectedUser)"
        >
          Supprimer
        </button>
      </template>
    </Modal>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  middleware: ["isAdmin"],
  head: {
    title: `Tous les utilisateurs - Administration ~ Pretioù`
  },
  data() {
    return {
      selectedUser: null,
    };
  },
  created() {
    console.log('this.users', this.users)
  },
  computed: {
    ...mapGetters("users", ["users"]),
  },

  methods: {
    updateUserRole(role, user) {
      let data = {
        user: user,
        role: role,
      };
      const headers = {
        Authorization: "Bearer " + this.$store.state.auth.token,
      };
      this.$api.put("users/" + user.id, data, {headers: headers}).then((res) => {
        console.log("res.data", res.data);
        this.$toast.success(
          `${user.name} a désormais le rôle ${
            role === "2" ? "Administateur" : "Utilisateur"
          }`
        );
        this.$store.dispatch("users/updateUserRole", {
          id: user.id,
          role: role,
        });
      });
    },

    deleteUser(user) {
      this.$api.delete("users/" + user.id).then((res) => {
        this.$store.dispatch("users/deleteUser", user).then((res) => {
          this.$toast.success(`L'utilisateur ${user.full_name} a été supprimé avec succès.`)
          this.selectedUser = null
        });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.users-table {
  th,
  td {
    @apply px-4;
  }
}
</style>