<template>
  <div class="container">
    <section role="section" class="py-4">
      <header>
        <span class="block tracking-wide leading-tight uppercase text-sm font-semibold"
          >Les établissements a proximité <small class="text-gray-500">(5KM)</small></span
        >
        <hr class="w-8 border-b-2 border-almond-500" />
      </header>
      <div
        class="mt-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2"
        v-if="!Object.values($store.state.stores.nearbyStores).length"
      >
        <template v-for="i in 4">
          <div
            :key="i"
            class="flex flex-col h-40 rounded-lg bg-gray-100 p-3 md:p-4"
          >
            <div class="text-xs leading-tight text-almond-500">
              <Skeleton placeholder="Pizzeria" />
            </div>
            <div class="mt-auto">
              <div class="text-sm md:text-lg">
                <Skeleton placeholder="Eatblissement" />
              </div>
              <div class="text-xs"><Skeleton placeholder="Adresse" /></div>
            </div>
          </div>
        </template>
      </div>
      <div
        class="mt-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2"
        v-if="Object.values($store.state.stores.nearbyStores).length"
      >
        <template v-for="store in stores">
          <StoreCard
            :key="store.id"
            :link="{ name: 'stores-slug', params: { slug: store.infos.slug } }"
            :thumb="store.images.length ? store.images[0].path : null"
            :type="store.infos.type"
            :title="store.infos.name"
            :verified="store.infos.verified"
            :address="store.infos.address_components"
            :tags="store.infos.tags"
          />
        </template>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
export default {
  created() {
    if (
      this.$store.state.locations.lat != null &&
      this.$store.state.locations.lng != null
    ) {
      this.getLocation();
    }
    setInterval(() => {
      if (!Object.values(this.$store.state.stores.nearbyStores).length) {
        this.getNearbyStores();
      } else {
          return;
      }
    }, 1000);
  },

  computed: {
    ...mapGetters("stores", ["nearbyStores"]),
    ...mapState("locations", ["coords"]),
    stores() {
      return _.orderBy(this.nearbyStores, "infos.name");
    },
  },

  methods: {
    getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.setlocation);
      }
    },
    setlocation(position) {
      this.$store.commit("locations/SET_LAT", position.coords.latitude);
      this.$store.commit("locations/SET_LNG", position.coords.longitude);
      this.getNearbyStores();
    },

    getNearbyStores() {
      const from = this.coords.lat + "," + this.coords.lng;
      if (this.coords.lat && this.coords.lng) {
        this.$api.get("googleplaces/nearbystores/" + from).then((response) => {
          let nearbyStores = response.data.nearbyStores;
          nearbyStores.forEach((nb) => {
            this.$store.commit("stores/ADD_NEARBY_STORE", nb);
          });
          console.log(
            "this.$store.state.stores.nearbyStores",
            this.$store.state.stores.nearbyStores
          );
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>