<template>
  <div>
    <!-- <AdminGoBack /> -->
    <div class="content">
      <h2 class="text-xl text-gray-900">
        Ajouter un établissement
        <small class="block normal-case text-sm text-gray-600"
          >Et publier votre établissement sur la plateforme</small
        >
      </h2>
      <CreateStoreSteps :current-step="currentStep" />
      <form @submit.prevent="createStore">
        <div class="mx-auto w-full max-w-screen-md">
          <!-- step 1 -->
          <div v-show="currentStep == 1">
            <GooglePlaces
              @select-store="updateFields"
              @update-name="updateFields"
              label="Nom de l'établissement"
              placeholder="Il Ristorante"
            />
          </div>
          <!-- step 2 -->
          <div
            class="grid md:grid-flow-row gap-2 md:gap-6"
            v-if="currentStep == 2"
          >
            <!-- type -->
            <div>
              <label>Type d'établissement</label>
              <select v-model="store.type" required>
                <option value="" disabled>Choisissez un type ...</option>
                <template v-for="(type, index) in $store.state.stores.types">
                  <option :key="index" :value="type">{{ type }}</option>
                </template>
              </select>
            </div>
            <!-- equipements -->
            <div>
              <fieldset class="p-4 pt-3 border-2 border-gray-300 rounded">
                <legend class="px-2 font-semibold">Equipements</legend>
                <div class="grid sm:grid-cols-2 lg:grid-cols-3">
                  <template
                    v-for="(equip, index) in $store.state.stores.equipements"
                  >
                    <div :key="index" class="flex place-items-center">
                      <input
                        type="checkbox"
                        :value="equip"
                        :id="'equip-' + index"
                        v-model="store.equipements"
                      />
                      <label
                        class="w-full font-normal mb-0 text-base ml-2 normal-case"
                        :for="'equip-' + index"
                        >{{ equip }}</label
                      >
                    </div>
                  </template>
                </div>
              </fieldset>
              <!-- <label>Equipements</label>
              <div class="grid sm:grid-cols-2 md:grid-cols-3 px-1">
                <template
                  v-for="(equip, index) in $store.state.stores.equipements"
                >
                  <div :key="index" class="flex place-items-center">
                    <input
                      type="checkbox"
                      :value="equip"
                      :id="'equip-' + index"
                      v-model="store.equipements"
                    />
                    <label
                      class="w-full font-normal mb-0 text-base ml-2 normal-case"
                      :for="'equip-' + index"
                      >{{ equip }}</label
                    >
                  </div>
                </template>
              </div> -->
            </div>
            <!-- tags -->
            <div>
              <AdminTagSelector :store-tags="store.tags" @select="selectTag" />
            </div>
            <!-- description -->
            <div>
              <label>Description</label>
              <textarea
                class="h-full"
                rows="3"
                v-model="store.description"
                placeholder="Les meilleures pizzas du coin !"
              ></textarea>
            </div>
            <!-- hours -->
            <div>
              <label>Horaires d'ouverture</label>
              <div class="grid md:grid-cols-3 gap-2">
                <input
                  type="text"
                  v-for="(day, index) in [
                    'lundi',
                    'mardi',
                    'mercredi',
                    'jeudi',
                    'vendredi',
                    'samedi',
                    'dimanche',
                  ]"
                  :key="index"
                  v-model="store.opening_hours[index]"
                  :placeholder="day + ' : 09:00 - 23:00'"
                />
              </div>
            </div>
          </div>
          <!-- step 3 -->
          <div class="" v-show="currentStep == 3">
            <fieldset class="p-4 border-2 border-gray-300 rounded">
              <legend class="px-2 font-semibold">Adresse postale</legend>
              <div class="grid gap-4 lg:grid-cols-11">
                <div class="lg:col-start-1 lg:col-end-2">
                  <label for="store_street-number">Numéro</label>
                  <input
                    type="text"
                    id="store_street-number"
                    v-model="store.address_components.street_number"
                    placeholder="35"
                    required
                  />
                </div>
                <div class="lg:col-start-2 lg:col-end-6">
                  <label for="store_street">Rue</label>
                  <input
                    type="text"
                    id="store_street"
                    v-model="store.address_components.street"
                    placeholder="Nom de la rue"
                    required
                  />
                </div>
                <div class="lg:col-start-6 lg:col-end-10">
                  <label for="store_city">Ville</label>
                  <input
                    type="text"
                    id="store_city"
                    v-model="store.address_components.city"
                    placeholder="Dinard"
                    required
                  />
                </div>
                <div class="lg:col-start-10 lg:col-end-12">
                  <label for="store_cp">Code postal</label>
                  <input
                    type="text"
                    id="store_cp"
                    v-model="store.address_components.postal_code"
                    placeholder="35800"
                    required
                  />
                </div>
              </div>
            </fieldset>
            <div class="grid lg:grid-cols-3 gap-4 mt-4">
              <div>
                <label for="store_email">Email</label>
                <input
                  type="email"
                  v-model="store.email"
                  placeholder="gorestau@gmail.com"
                />
              </div>
              <div>
                <label for="store_phone">Tél.</label>
                <input
                  type="tel"
                  v-model="store.phone_number"
                  placeholder="0299884356"
                />
              </div>
              <div>
                <label for="store_wesbite">Site web</label>
                <input
                  type="text"
                  v-model="store.website"
                  placeholder="https://google.com"
                />
              </div>
            </div>
          </div>
          <!-- step buttons -->
          <div class="flex justify-between mt-10">
            <button
              class="btn btn--gray"
              v-if="currentStep > 1"
              @click.prevent="previousStep"
            >
              <unicon name="angle-left" width="20" height="20" />
              <span class="ml-2">Previous step</span>
            </button>
            <button
              class="btn btn--blue ml-auto"
              v-if="currentStep < 3"
              @click.prevent="nextStep"
            >
              <span>Next step</span>
              <unicon name="angle-right" width="20" height="20" />
            </button>
            <button
              class="btn btn--green ml-auto"
              v-if="currentStep == 3"
              @click.prevent="nextStep"
            >
              <unicon name="check" width="20" height="20" />
              <span class="ml-2">Valider la creation</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: `Ajouter un établissement - Administration ~ Pretioù`
  },
  data() {
    return {
      errors: [],
      currentStep: 1,
      files: [],
      user_id: this.$store.state.auth.user.id,
      store: {
        name: null,
        slug: null,
        email: null,
        phone_number: null,
        website: null,
        positions: {
          lat: null,
          lng: null,
        },
        address_components: {
          street_number: null,
          street: null,
          city: null,
          postal_code: null,
          dep: null,
          region: null,
          country: null,
        },
        opening_hours: [],
        description: null,
        type: "",
        equipements: [],
        tags: [],
        verified: false,
      },
    };
  },
  methods: {
    updateFields(data) {
      console.log("data", data);
      if (data.name) this.store.name = data.name;
      if (data.address_components)
        data.address_components.forEach((d) => {
          if (d.types.includes("street_number"))
            this.store.address_components.street_number = d.long_name;
          if (d.types.includes("route"))
            this.store.address_components.street = d.long_name;
          if (d.types.includes("locality"))
            this.store.address_components.city = d.long_name;
          if (d.types.includes("postal_code"))
            this.store.address_components.postal_code = d.long_name;
          if (d.types.includes("administrative_area_level_2"))
            this.store.address_components.dep = d.long_name;
          if (d.types.includes("administrative_area_level_1"))
            this.store.address_components.region = d.long_name;
          if (d.types.includes("country"))
            this.store.address_components.country = d.long_name;
        });

      if (data.international_phone_number)
        this.store.phone_number = data.international_phone_number;
      if (data.website) this.store.website = data.website;
      if (data.opening_hours)
        this.store.opening_hours = data.opening_hours.weekday_text;
      if (data.geometry) this.store.positions.lng = data.geometry.location.lng;
      if (data.geometry) this.store.positions.lat = data.geometry.location.lat;
      if (Object.values(data).length > 1) {
        this.nextStep();
      }
    },
    nextStep() {
      this.errors = [];
      if (this.currentStep === 1 && !this.store.name && this.store.name != "") {
        this.errors.push(`Le nom de l'etablissement est requis.`);
      }
      if (this.currentStep === 2 && this.store.type === "") {
        this.errors.push(`Le type de l'etablissement est requis.`);
      }
      if (this.currentStep === 3) {
        // if (!this.store.address_components.street_number)
        //   this.errors.push(`Le numero de rue est requis.`);
        if (!this.store.address_components.street)
          this.errors.push(`Le nom de rue est requis.`);
        if (!this.store.address_components.city)
          this.errors.push(`Le ville est requise.`);
        if (!this.store.address_components.postal_code)
          this.errors.push(`Le code postal est requis.`);
      }

      if (this.errors.length) {
        let errors = "";
        this.errors.forEach((e) => {
          errors += `${e}</br>`;
        });
        this.$toast.error(errors);
        return false;
      } else {
        if (this.currentStep === 3) this.createStore();
        else this.currentStep++;
      }
    },
    previousStep() {
      this.currentStep--;
    },

    selectTag(tags) {
      this.store.tags = tags;
    },

    createStore() {
      const data = new FormData();
      data.append("user_id", this.user_id);
      data.append("infos", JSON.stringify(this.store));
      console.log("this.store", this.store);
      let config = {
        headers: {
          "Content-Type": "multipart/form-data",
          "Authorization": `Bearer ${this.$store.state.auth.token}`
        },
      };
      this.$api.post("stores", data, config).then((response) => {
        console.log('response.data', response.data)
        this.$store
          .dispatch("stores/addStore", response.data.store)
          .then(() => {
            this.$toast.success(`Etablissement ajouté avec succès.`)
            this.$router.push({
              name: "admin-stores-id-edit",
              params: {
                id: response.data.store.id,
              },
            });
          });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>