<template>
  <div>
    <!-- loading -->
    <div
      class="lg:min-h-screen flex justify-center items-center"
      v-if="loading"
    >
      <i class="ri-loader-4-line ri-3x text-gray-500 animate-spin"></i>
    </div>

    <!-- content -->
    <div class="content md:flex flex-col">
      <div class="md:flex items-end justify-between">
        <div>
          <h2 class="text-xl text-gray-900">
            Mes établissements
            <small class="block normal-case text-sm text-gray-600">
              Vous avez
              <strong>{{
                $store.state.auth.isAdmin && pagination
                  ? pagination.total
                  : stores
                  ? stores.length
                  : 0
              }}</strong>
              établissements enregistrés
            </small>
          </h2>

          <!-- create button -->
          <nuxt-link
            :to="{ name: 'admin-stores-add' }"
            class="btn btn--blue mt-6"
          >
            <unicon name="plus" width="20" height="20" />
            <span class="ml-2">Ajouter un établissement</span>
          </nuxt-link>
        </div>
        <!-- store filters -->
        <AdminFilterStores
          v-if="$store.state.auth.isAdmin"
          class="mt-6"
          @select-user="filterByUser"
        />
      </div>

      <!-- empty stores -->
      <div class=" max-w-md mt-6 md:mt-auto mb-auto mx-auto opacity-75" style="filter: grayscale(1)" v-if="!Object.values(stores).length">
        <img src="../../../static/undraw_empty_xct9.svg" alt="">
      </div>

      <!-- grid -->
      <div
        class="mt-6 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
        v-if="Object.values(stores).length"
      >
        <template v-for="(store, index) in stores">
          <AdminStoreCard
            :key="index"
            :title="store.infos.name"
            :address="store.infos.address_components"
            :type="store.infos.type"
            :link="{ name: 'admin-stores-id-edit', params: { id: store.id } }"
            :verified="store.infos.verified"
          />
        </template>
      </div>
      <div class="mt-4 md:mt-8 flex justify-center" v-if="Object.values(stores).length">
        <AdminLoadMoreStores
          v-if="
            pagination &&
            $store.state.auth.isAdmin &&
            filteredUserId === '' &&
            Object.values(this.stores).length < pagination.total
          "
          :pagination="pagination"
          @load-more="loadStores"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import _ from 'lodash';

export default {
  head: {
    title: `Tous vos établissements - Administration ~ Pretioù`
  },
  data() {
    return {
      loading: false,
      allStores: [],
      filteredUserId: "",
    };
  },
  mounted() {
    setTimeout(() => {
      Object.values(this.stores).forEach((store) => {
        this.allStores.push(store);
      });
    }, 100);
  },
  computed: {
    ...mapState('stores', {
      stateStores: 'stores',
    }),
    ...mapGetters("stores", {
      userStores: "userStores",
      pagination: "pagination",
    }),
    stores() {
      if (this.$store.state.auth.isAdmin) {
        return _.sortBy(this.stateStores, 'updated_at').reverse()
      } else {
        return _.sortBy(this.userStores(this.$store.state.auth.user.id), 'updated_at').reverse();
      }
    },
  },
  methods: {
    loadStores(loadedStores) {
      Object.values(loadedStores).forEach((store) => {
        this.allStores.push(store);
        this.$store.dispatch("stores/addStore", store);
      });
    },
    filterByUser(user_id) {
      this.filteredUserId = user_id;
      this.$store.commit("stores/REMOVE_STORES");
      let filteredStores = null;
      if (user_id === "") {
        filteredStores = this.allStores;
      } else {
        filteredStores = this.allStores.filter(
          (store) => store.user.id === parseInt(user_id)
        );
      }

      filteredStores.forEach((store) => {
        this.$store.dispatch("stores/addStore", store);
      });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>